@charset "UTF-8";
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/*jquery mobile styles - default*/
/*@import "../partials/jquery.mobile-1.0a3.min";*/
/* line 14, ../../../../.rvm/gems/ruby-1.8.7-p330/gems/compass-0.11.beta.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 17, ../../../../.rvm/gems/ruby-1.8.7-p330/gems/compass-0.11.beta.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
  color: black;
  background: white;
}

/* line 19, ../../../../.rvm/gems/ruby-1.8.7-p330/gems/compass-0.11.beta.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 21, ../../../../.rvm/gems/ruby-1.8.7-p330/gems/compass-0.11.beta.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 23, ../../../../.rvm/gems/ruby-1.8.7-p330/gems/compass-0.11.beta.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 25, ../../../../.rvm/gems/ruby-1.8.7-p330/gems/compass-0.11.beta.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: "" "";
}
/* line 96, ../../../../.rvm/gems/ruby-1.8.7-p330/gems/compass-0.11.beta.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
}

/* line 27, ../../../../.rvm/gems/ruby-1.8.7-p330/gems/compass-0.11.beta.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 1, ../../src/stylesheets/partials/_base.scss */
body {
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Verdana, "Verdana Ref", sans-serif;
  font-weight: 400;
  font-size: 12px;
}
/* line 6, ../../src/stylesheets/partials/_base.scss */
body a {
  color: #5a5a5a;
  text-decoration: none;
}
/* line 18, ../../../../.rvm/gems/ruby-1.8.7-p330/gems/compass-0.11.beta.2/frameworks/compass/stylesheets/compass/utilities/links/_link-colors.scss */
body a:visited {
  color: #5a5a5a;
}
/* line 24, ../../../../.rvm/gems/ruby-1.8.7-p330/gems/compass-0.11.beta.2/frameworks/compass/stylesheets/compass/utilities/links/_link-colors.scss */
body a:hover {
  color: #171717;
}
/* line 27, ../../../../.rvm/gems/ruby-1.8.7-p330/gems/compass-0.11.beta.2/frameworks/compass/stylesheets/compass/utilities/links/_link-colors.scss */
body a:active {
  color: #bbbbbb;
}
/* line 4, ../../../../.rvm/gems/ruby-1.8.7-p330/gems/compass-0.11.beta.2/frameworks/compass/stylesheets/compass/utilities/links/_hover-link.scss */
body a:hover {
  text-decoration: underline;
}
/* line 11, ../../src/stylesheets/partials/_base.scss */
body h1 {
  font-size: 24px;
}
/* line 15, ../../src/stylesheets/partials/_base.scss */
body h2 {
  font-size: 18px;
}
/* line 19, ../../src/stylesheets/partials/_base.scss */
body button {
  display: inline;
  float: left;
  margin: 0;
  padding: 2px 5px 3px;
  text-align: center;
  font-weight: 400;
  margin-top: 3px;
  border: 1px solid #737373;
  border-top: 1px solid #898989;
  border-bottom: 1px solid #898989;
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
  -o-border-radius: 12px;
  -ms-border-radius: 12px;
  -khtml-border-radius: 12px;
  border-radius: 12px;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f9f9f9), color-stop(33%, #f3f3f3), color-stop(46%, #e4e4e4), color-stop(53%, #d3d3d3), color-stop(60%, #e0e0e0), color-stop(80%, #e7e7e7), color-stop(100%, #ffffff));
  background-image: -moz-linear-gradient(top, #f9f9f9, #f3f3f3 33%, #e4e4e4 46%, #d3d3d3, #e0e0e0 60%, #e7e7e7, #ffffff);
  background-image: linear-gradient(top, #f9f9f9, #f3f3f3 33%, #e4e4e4 46%, #d3d3d3, #e0e0e0 60%, #e7e7e7, #ffffff);
  -moz-box-shadow: 0px 1px 2px 0px #a9a9a9;
  -webkit-box-shadow: 0px 1px 2px 0px #a9a9a9;
  -o-box-shadow: 0px 1px 2px 0px #a9a9a9;
  box-shadow: 0px 1px 2px 0px #a9a9a9;
}
/* line 34, ../../src/stylesheets/partials/_base.scss */
body button:active {
  border-top: 1px solid #15167B;
  border-right: 1px solid #689FD6;
  border-bottom: 1px solid #15167B;
  border-left: 1px solid #2866BB;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #d1e7fa), color-stop(33%, #b6dbff), color-stop(46%, #a4d0fd), color-stop(53%, #7bbbfb), color-stop(60%, #8ac7ff), color-stop(80%, #92cdff), color-stop(100%, #d7ffff));
  background-image: -moz-linear-gradient(top, #d1e7fa, #b6dbff 33%, #a4d0fd 46%, #7bbbfb, #8ac7ff 60%, #92cdff, #d7ffff);
  background-image: linear-gradient(top, #d1e7fa, #b6dbff 33%, #a4d0fd 46%, #7bbbfb, #8ac7ff 60%, #92cdff, #d7ffff);
  -moz-box-shadow: 0px 1px 1px 0px #9c9c9c;
  -webkit-box-shadow: 0px 1px 1px 0px #9c9c9c;
  -o-box-shadow: 0px 1px 1px 0px #9c9c9c;
  box-shadow: 0px 1px 1px 0px #9c9c9c;
}

/* line 10, ../../../../.rvm/gems/ruby-1.8.7-p330/gems/compass-0.11.beta.2/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
html, body {
  height: 100%;
}

/* line 12, ../../../../.rvm/gems/ruby-1.8.7-p330/gems/compass-0.11.beta.2/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
body {
  clear: both;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin-bottom: -18px;
}
/* line 18, ../../../../.rvm/gems/ruby-1.8.7-p330/gems/compass-0.11.beta.2/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
body .footer {
  height: 18px;
}

/* line 20, ../../../../.rvm/gems/ruby-1.8.7-p330/gems/compass-0.11.beta.2/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
#footer {
  clear: both;
  position: relative;
  height: 18px;
}

/* line 3, ../../src/stylesheets/partials/_layout.scss */
body {
  position: relative;
  margin: 0;
  padding: 0;
  background-color: #ECECEC;
}

/* line 10, ../../src/stylesheets/partials/_layout.scss */
#header {
  height: 53px;
  padding: 15px 0 0 15px;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #4f4f4f), color-stop(100%, #2f2f2f));
  background-image: -moz-linear-gradient(top, #4f4f4f, #2f2f2f);
  background-image: linear-gradient(top, #4f4f4f, #2f2f2f);
  border-top: 1px solid #393737;
  border-bottom: 1px solid #878787;
}
/* line 17, ../../src/stylesheets/partials/_layout.scss */
#header h1 {
  display: inline;
  float: left;
  width: 300px;
  margin: 0;
  padding: 9px 0;
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  background-image: url(/images/logo-compass-small-dark.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-position: left center;
}

/*shell styles*/
/* line 2, ../../src/stylesheets/partials/shells/_shell.scss */
body .project_list {
  position: absolute;
  top: 70px;
  bottom: 0;
  right: 60%;
  left: 0;
  border-right: 1px solid #939393;
}
/* line 11, ../../src/stylesheets/partials/shells/_shell.scss */
body .project_details {
  position: absolute;
  top: 70px;
  bottom: 0;
  right: 0;
  left: 40%;
}
/* line 18, ../../src/stylesheets/partials/shells/_shell.scss */
body .project_details .view {
  position: absolute;
  top: 0;
  bottom: 19px;
  right: 0;
  left: 0;
  /*      overflow-y: auto;*/
  *zoom: 1;
}
/* line 22, ../../../../.rvm/gems/ruby-1.8.7-p330/gems/compass-0.11.beta.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
body .project_details .view:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}
/* line 29, ../../src/stylesheets/partials/shells/_shell.scss */
body .footer {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  border-top: 1px solid #939393;
  *zoom: 1;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f7f7f7), color-stop(50%, #f3f3f3), color-stop(50%, #e6e6e6), color-stop(100%, #e6e6e6));
  background-image: -moz-linear-gradient(top, #f7f7f7 0%, #f3f3f3 50%, #e6e6e6 50%, #e6e6e6 100%);
  background-image: linear-gradient(top, #f7f7f7 0%, #f3f3f3 50%, #e6e6e6 50%, #e6e6e6 100%);
}
/* line 22, ../../../../.rvm/gems/ruby-1.8.7-p330/gems/compass-0.11.beta.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
body .footer:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}
/* line 38, ../../src/stylesheets/partials/shells/_shell.scss */
body .footer .option {
  display: inline;
  float: left;
  width: 29px;
  text-decoration: none;
  text-align: center;
  text-shadow: 0 1px 1px #F6F6F6;
  background-repeat: repeat-x;
  background-position: center bottom;
  border-right: 1px solid #B3B3B3;
}
/* line 48, ../../src/stylesheets/partials/shells/_shell.scss */
body .footer .option span {
  display: block;
  height: 18px;
}
/* line 53, ../../src/stylesheets/partials/shells/_shell.scss */
body .footer .option:hover {
  background-color: #F3F3F3;
}
/* line 57, ../../src/stylesheets/partials/shells/_shell.scss */
body .footer .option:active {
  background-color: #C0C0C0;
}
/* line 62, ../../src/stylesheets/partials/shells/_shell.scss */
body .footer .option.add span {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  background-image: url(/images/add.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border-right: 1px solid #F0F0F0;
  border-left: 1px solid #F0F0F0;
}
/* line 70, ../../src/stylesheets/partials/shells/_shell.scss */
body .footer .splitter {
  display: inline;
  float: right;
  width: 15px;
  height: 18px;
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  background-image: url(/images/handle_splitter.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-position: center center;
  cursor: ew-resize;
}
/* line 79, ../../src/stylesheets/partials/shells/_shell.scss */
body .footer #new-project {
  margin-top: 2em;
}

/*views styles*/
/* line 1, ../../src/stylesheets/partials/views/_project_details.scss */
.project_details {
  display: none;
}
/* line 4, ../../src/stylesheets/partials/views/_project_details.scss */
.project_details .view {
  border-top: 1px solid #FFFFFF;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(80%, #fafafa), color-stop(100%, #e6e6e6));
  background-image: -moz-linear-gradient(top, #fafafa 80%, #e6e6e6);
  background-image: linear-gradient(top, #fafafa 80%, #e6e6e6);
}
/* line 8, ../../src/stylesheets/partials/views/_project_details.scss */
.project_details .view .modes {
  padding: 5px 10px 5px 0;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e9e9e9), color-stop(100%, #cfcfcf));
  background-image: -moz-linear-gradient(top, #e9e9e9, #cfcfcf);
  background-image: linear-gradient(top, #e9e9e9, #cfcfcf);
  border-bottom: 1px solid #8E8E8E;
  *zoom: 1;
}
/* line 22, ../../../../.rvm/gems/ruby-1.8.7-p330/gems/compass-0.11.beta.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.project_details .view .modes:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}
/* line 14, ../../src/stylesheets/partials/views/_project_details.scss */
.project_details .view .modes .mode {
  display: inline;
  float: right;
  margin-left: 2px;
  padding: 4px 10px 5px;
  line-height: .8;
  color: #000000;
  text-shadow: #efefef 0 1px 0;
}
/* line 23, ../../src/stylesheets/partials/views/_project_details.scss */
.project_details .view .modes .mode:hover {
  color: #FFFFFF;
  text-shadow: #595959 0 1px 0;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #959595), color-stop(100%, #8e8e8e));
  background-image: -moz-linear-gradient(top, #959595, #8e8e8e);
  background-image: linear-gradient(top, #959595, #8e8e8e);
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
  text-decoration: none;
  -moz-box-shadow: inset 0px 0px 0px 0px #8f8f8f;
  -webkit-box-shadow: inset 0px 0px 0px 0px #8f8f8f;
  -o-box-shadow: inset 0px 0px 0px 0px #8f8f8f;
  box-shadow: inset 0px 0px 0px 0px #8f8f8f;
}
/* line 32, ../../src/stylesheets/partials/views/_project_details.scss */
.project_details .view .modes .mode:active {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #747474), color-stop(100%, #6e6e6e));
  background-image: -moz-linear-gradient(top, #747474, #6e6e6e);
  background-image: linear-gradient(top, #747474, #6e6e6e);
  -moz-box-shadow: inset 0px 1px 1px 1px #484848;
  -webkit-box-shadow: inset 0px 1px 1px 1px #484848;
  -o-box-shadow: inset 0px 1px 1px 1px #484848;
  box-shadow: inset 0px 1px 1px 1px #484848;
}
/* line 40, ../../src/stylesheets/partials/views/_project_details.scss */
.project_details .footer {
  left: 1px;
}

/* line 2, ../../src/stylesheets/partials/views/project_container/_shell.scss */
.project_list .view {
  background-color: #EFF4F9;
  color: yellow;
}

/* line 4, ../../src/stylesheets/partials/views/project_container/_projects.scss */
.project_list .view .projects {
  position: relative;
  z-index: 100;
  margin: 0;
  overflow-y: auto;
}
/* line 10, ../../src/stylesheets/partials/views/project_container/_projects.scss */
.project_list .view .projects .project {
  margin: 0;
  text-decoration: none;
  color: #444444;
  background-color: #E9E9E9;
  border-top: 1px solid #FFFFFF;
  border-bottom: 1px solid #BCBCBC;
  list-style: none;
  overflow: hidden;
  *zoom: 1;
}
/* line 22, ../../../../.rvm/gems/ruby-1.8.7-p330/gems/compass-0.11.beta.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.project_list .view .projects .project:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}
/* line 22, ../../src/stylesheets/partials/views/project_container/_projects.scss */
.project_list .view .projects .project .item {
  padding: 15px;
  *zoom: 1;
}
/* line 22, ../../../../.rvm/gems/ruby-1.8.7-p330/gems/compass-0.11.beta.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.project_list .view .projects .project .item:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}
/* line 26, ../../src/stylesheets/partials/views/project_container/_projects.scss */
.project_list .view .projects .project .item .source {
  display: inline;
  float: left;
  width: 60%;
}
/* line 31, ../../src/stylesheets/partials/views/project_container/_projects.scss */
.project_list .view .projects .project .item .source h2 {
  margin: 0;
  padding: 0 0 0 40px;
  line-height: 39px;
  background-image: url("../images/folder32.png");
  background-repeat: no-repeat;
  background-position: left center;
}
/* line 39, ../../src/stylesheets/partials/views/project_container/_projects.scss */
.project_list .view .projects .project .item .source h2 a {
  color: #222222;
  font-size: 14px;
}
/* line 43, ../../src/stylesheets/partials/views/project_container/_projects.scss */
.project_list .view .projects .project .item .source h2 a:hover {
  text-decoration: none;
}
/* line 52, ../../src/stylesheets/partials/views/project_container/_projects.scss */
.project_list .view .projects .project.selected, .project_list .view .projects .project.selected:hover {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #5389df), color-stop(100%, #2363bf));
  background-image: -moz-linear-gradient(top, #5389df, #2363bf);
  background-image: linear-gradient(top, #5389df, #2363bf);
  border-top: 1px solid #3F89FF;
}
/* line 59, ../../src/stylesheets/partials/views/project_container/_projects.scss */
.project_list .view .projects .project.selected .item .source h2 a, .project_list .view .projects .project.selected:hover .item .source h2 a {
  color: #FFFFFF;
}
/* line 68, ../../src/stylesheets/partials/views/project_container/_projects.scss */
.project_list .view .projects .project.focused, .project_list .view .projects .project:hover {
  border-top: 1px solid #EEEEEE;
  background-color: #D4D4D4;
  -moz-transition-property: background-color;
  -webkit-transition-property: background-color;
  -o-transition-property: background-color;
  transition-property: background-color;
  -moz-transition-duration: 0.15s;
  -webkit-transition-duration: 0.15s;
  -o-transition-duration: 0.15s;
  transition-duration: 0.15s;
  -moz-transition-timing-function: ease-in;
  -webkit-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
  -moz-transition-delay: 0s;
  -webkit-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
  cursor: pointer;
}
/* line 78, ../../src/stylesheets/partials/views/project_container/_projects.scss */
.project_list .view .projects .project.focused .item .source h2 a, .project_list .view .projects .project:hover .item .source h2 a {
  color: #222222;
}

/* line 9, ../../src/stylesheets/partials/views/project_container/_commands.scss */
.project_list .view .projects .project .item .commands {
  display: inline;
  float: right;
  width: 40%;
  *zoom: 1;
}
/* line 22, ../../../../.rvm/gems/ruby-1.8.7-p330/gems/compass-0.11.beta.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.project_list .view .projects .project .item .commands:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}
/* line 14, ../../src/stylesheets/partials/views/project_container/_commands.scss */
.project_list .view .projects .project .item .commands .command {
  display: inline;
  float: right;
  margin-left: 5px;
  padding: 0;
  background-color: #DDDDDD;
  border: 1px solid #757575;
  -moz-border-radius: 18px;
  -webkit-border-radius: 18px;
  -o-border-radius: 18px;
  -ms-border-radius: 18px;
  -khtml-border-radius: 18px;
  border-radius: 18px;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fafafa), color-stop(50%, #eaeaea), color-stop(100%, #aaaaaa));
  background-image: -moz-linear-gradient(top, #fafafa, #eaeaea, #aaaaaa);
  background-image: linear-gradient(top, #fafafa, #eaeaea, #aaaaaa);
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
  cursor: pointer;
}
/* line 25, ../../src/stylesheets/partials/views/project_container/_commands.scss */
.project_list .view .projects .project .item .commands .command span {
  display: block;
  width: 30px;
  height: 30px;
  -moz-border-radius: 21px;
  -webkit-border-radius: 21px;
  -o-border-radius: 21px;
  -ms-border-radius: 21px;
  -khtml-border-radius: 21px;
  border-radius: 21px;
}
/* line 32, ../../src/stylesheets/partials/views/project_container/_commands.scss */
.project_list .view .projects .project .item .commands .command:focus {
  outline: none;
}
/* line 36, ../../src/stylesheets/partials/views/project_container/_commands.scss */
.project_list .view .projects .project .item .commands .command:active {
  background-color: #A6A6A6;
  -moz-box-shadow: inset 0px 2px 2px 0px #5f5f5f;
  -webkit-box-shadow: inset 0px 2px 2px 0px #5f5f5f;
  -o-box-shadow: inset 0px 2px 2px 0px #5f5f5f;
  box-shadow: inset 0px 2px 2px 0px #5f5f5f;
}
/* line 42, ../../src/stylesheets/partials/views/project_container/_commands.scss */
.project_list .view .projects .project .item .commands .command.start span {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  background-image: url(/images/play.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-position: 10px center;
  background-repeat: no-repeat;
}
/* line 50, ../../src/stylesheets/partials/views/project_container/_commands.scss */
.project_list .view .projects .project .item .commands .command.stop span {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  background-image: url(/images/stop.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-position: 10px center;
}
/* line 57, ../../src/stylesheets/partials/views/project_container/_commands.scss */
.project_list .view .projects .project .item .commands .command.disabled.start {
  cursor: default;
}
/* line 60, ../../src/stylesheets/partials/views/project_container/_commands.scss */
.project_list .view .projects .project .item .commands .command.disabled.start span {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
}
/* line 73, ../../src/stylesheets/partials/views/project_container/_commands.scss */
.project_list .view .projects .project.selected .item .commands .command, .project_list .view .projects .project.selected:hover .item .commands .command {
  background-color: #5F9DFF;
  border: 1px solid #234D8F;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #5f9dff), color-stop(50%, #4581df), color-stop(100%, #205baf));
  background-image: -moz-linear-gradient(top, #5f9dff, #4581df, #205baf);
  background-image: linear-gradient(top, #5f9dff, #4581df, #205baf);
  /*                @include linear-gradient(color-stops(#5F9DFF, #5993EF, #3875D7));*/
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
}
/* line 80, ../../src/stylesheets/partials/views/project_container/_commands.scss */
.project_list .view .projects .project.selected .item .commands .command:active, .project_list .view .projects .project.selected:hover .item .commands .command:active {
  -moz-box-shadow: inset 0px 2px 2px 0px #1d375f;
  -webkit-box-shadow: inset 0px 2px 2px 0px #1d375f;
  -o-box-shadow: inset 0px 2px 2px 0px #1d375f;
  box-shadow: inset 0px 2px 2px 0px #1d375f;
}
/* line 84, ../../src/stylesheets/partials/views/project_container/_commands.scss */
.project_list .view .projects .project.selected .item .commands .command.disabled, .project_list .view .projects .project.selected:hover .item .commands .command.disabled {
  cursor: default;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
}

/*mode styles*/
/* line 4, ../../src/stylesheets/partials/views/modes/_configuration.scss */
.project_details .view .option_container {
  min-width: 370px;
  margin: 0;
  padding: 25px 20px 0;
}
/* line 9, ../../src/stylesheets/partials/views/modes/_configuration.scss */
.project_details .view .option_container h2 {
  position: relative;
  z-index: 1;
  width: 100px;
  margin: 0 auto;
  font-size: 12px;
  padding: 3px 0;
  background-color: #FFFFFF;
  border: 1px solid #737373;
  -webkit-border-radius: 6px 6px;
  -moz-border-radius: 6px / 6px;
  -o-border-radius: 6px / 6px;
  -ms-border-radius: 6px / 6px;
  -khtml-border-radius: 6px / 6px;
  border-radius: 6px / 6px;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #cfdff0), color-stop(33%, #96bfea), color-stop(46%, #4a91e3), color-stop(64%, #579be7), color-stop(82%, #84b4e6), color-stop(100%, #c3fbff));
  background-image: -moz-linear-gradient(top, #cfdff0, #96bfea 33%, #4a91e3 46%, #579be7, #84b4e6, #c3fbff);
  background-image: linear-gradient(top, #cfdff0, #96bfea 33%, #4a91e3 46%, #579be7, #84b4e6, #c3fbff);
  -moz-box-shadow: 0px 1px 1px 0px #9c9c9c;
  -webkit-box-shadow: 0px 1px 1px 0px #9c9c9c;
  -o-box-shadow: 0px 1px 1px 0px #9c9c9c;
  box-shadow: 0px 1px 1px 0px #9c9c9c;
  text-align: center;
}
/* line 24, ../../src/stylesheets/partials/views/modes/_configuration.scss */
.project_details .view .option_container .options {
  margin-top: -12px;
  padding: 52px 25px 48px;
  background-color: #F8F8F8;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: inset 0px 1px 2px 1px #bababa;
  -webkit-box-shadow: inset 0px 1px 2px 1px #bababa;
  -o-box-shadow: inset 0px 1px 2px 1px #bababa;
  box-shadow: inset 0px 1px 2px 1px #bababa;
}
/* line 31, ../../src/stylesheets/partials/views/modes/_configuration.scss */
.project_details .view .option_container .options .option {
  margin-bottom: 12px;
  *zoom: 1;
}
/* line 22, ../../../../.rvm/gems/ruby-1.8.7-p330/gems/compass-0.11.beta.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.project_details .view .option_container .options .option:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}
/* line 35, ../../src/stylesheets/partials/views/modes/_configuration.scss */
.project_details .view .option_container .options .option label {
  display: inline;
  float: left;
  width: 110px;
  padding-top: 6px;
  margin-right: 5px;
  text-align: right;
  font-weight: bold;
}
/* line 44, ../../src/stylesheets/partials/views/modes/_configuration.scss */
.project_details .view .option_container .options .option .dir_find {
  margin-top: 2px;
  color: #0A0A0A;
  font-size: 11px;
  -webkit-border-top-left-radius: 6px;
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 6px;
}
/* line 54, ../../src/stylesheets/partials/views/modes/_configuration.scss */
.project_details .view .option_container .options .option .setting {
  display: inline;
  float: left;
  width: 50%;
  margin-right: 5px;
  font-size: 13px;
}

/* line 4, ../../src/stylesheets/partials/views/modes/_log_output.scss */
.project_details .view .log_output {
  position: absolute;
  top: 29px;
  right: 0;
  bottom: 0;
  left: 0;
  overflow-y: auto;
  z-index: 100;
  padding: 5px;
  line-height: 1.35;
  font-family: monospace;
  font-size: 13px;
  color: #F8F8F8;
  background-color: #141414;
}
/* line 23, ../../src/stylesheets/partials/views/modes/_log_output.scss */
.project_details .view .log_output span.red {
  color: red;
}
/* line 27, ../../src/stylesheets/partials/views/modes/_log_output.scss */
.project_details .view .log_output span.green {
  color: green;
}
/* line 31, ../../src/stylesheets/partials/views/modes/_log_output.scss */
.project_details .view .log_output span.yellow {
  color: orange;
}

/* line 1, ../../src/stylesheets/partials/views/modes/_non_selected.scss */
.non_selected {
  position: absolute;
  top: 70px;
  right: 0;
  bottom: 0;
  left: 40%;
}
/* line 8, ../../src/stylesheets/partials/views/modes/_non_selected.scss */
.non_selected .view {
  left: 1px;
  border-top: 1px solid #FFFFFF;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(80%, #fbfbfb), color-stop(100%, #e6e6e6));
  background-image: -moz-linear-gradient(top, #fbfbfb 80%, #e6e6e6);
  background-image: linear-gradient(top, #fbfbfb 80%, #e6e6e6);
  background-color: #EFF4F9;
}

/*events styles*/
/* line 4, ../../src/stylesheets/partials/events/_drag_drop_add_files.scss */
#list .projects_container.hover .addhere {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  height: 100%;
  width: 100%;
  background-image: url("../images/drop_area_plate.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-color: #8A8A8A;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
}

/* line 10, ../../src/stylesheets/partials/events/_command_states.scss */
.project_list .view .projects .project.stopped .item .commands .command.start {
  display: block;
}
/* line 14, ../../src/stylesheets/partials/events/_command_states.scss */
.project_list .view .projects .project.stopped .item .commands .command.stop {
  display: none;
}
/* line 26, ../../src/stylesheets/partials/events/_command_states.scss */
.project_list .view .projects .project.started .item .commands .command.start {
  display: none;
}
/* line 30, ../../src/stylesheets/partials/events/_command_states.scss */
.project_list .view .projects .project.started .item .commands .command.stop {
  display: block;
}
/* line 40, ../../src/stylesheets/partials/events/_command_states.scss */
.project_list .view .projects .project.starting .item .commands .command.start, .project_list .view .projects .project.starting .item .commands .command.stop, .project_list .view .projects .project.stopping .item .commands .command.start, .project_list .view .projects .project.stopping .item .commands .command.stop {
  display: none;
}

/* line 4, ../../src/stylesheets/partials/events/_detail_modes.scss */
.project_details.configure .modes .mode.configure {
  color: #FFFFFF;
  text-shadow: #595959 0 1px 0;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #959595), color-stop(100%, #8e8e8e));
  background-image: -moz-linear-gradient(top, #959595, #8e8e8e);
  background-image: linear-gradient(top, #959595, #8e8e8e);
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
  -moz-box-shadow: inset 0px 1px 1px 1px #616161;
  -webkit-box-shadow: inset 0px 1px 1px 1px #616161;
  -o-box-shadow: inset 0px 1px 1px 1px #616161;
  box-shadow: inset 0px 1px 1px 1px #616161;
}
/* line 13, ../../src/stylesheets/partials/events/_detail_modes.scss */
.project_details.configure .options {
  display: block;
}
/* line 17, ../../src/stylesheets/partials/events/_detail_modes.scss */
.project_details.configure .log_output {
  display: none;
}
/* line 24, ../../src/stylesheets/partials/events/_detail_modes.scss */
.project_details.log .modes .mode.log {
  color: #fff;
  text-shadow: #595959 0 1px 0;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #959595), color-stop(100%, #8e8e8e));
  background-image: -moz-linear-gradient(top, #959595, #8e8e8e);
  background-image: linear-gradient(top, #959595, #8e8e8e);
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
  -moz-box-shadow: inset 0px 1px 1px 1px #616161;
  -webkit-box-shadow: inset 0px 1px 1px 1px #616161;
  -o-box-shadow: inset 0px 1px 1px 1px #616161;
  box-shadow: inset 0px 1px 1px 1px #616161;
}
/* line 33, ../../src/stylesheets/partials/events/_detail_modes.scss */
.project_details.log .options {
  display: none;
}
/* line 37, ../../src/stylesheets/partials/events/_detail_modes.scss */
.project_details.log .log_output {
  display: block;
}
