#list {
  .projects_container {

    .projects_wrapper {
      position: relative;
      background-color: #C9C9C9;
      @include box-shadow(#B0B0B0, 3px, -6px, 12px, 0px, inset);

      .drop_area_note {
        position: absolute;
        left: 10px;
        bottom: 10px;
        padding: 3px 40px;
        @include replace-text('../images/drop_area_note.png');
      }

      .projects {
        height: 456px;
        margin: 0;
        padding: 0;
        border: 1px solid #9E9E9E;
        overflow-y: scroll;

        .project {
          margin: 0;
          padding-right: 50px;
          padding: 10px 9px;

          text-decoration: none;
          color: #444444;

          background-color: #E9E9E9;
          border-top: 1px solid #FFFFFF;
          border-bottom: 1px solid #BCBCBC;
          list-style: none;
          overflow: hidden;
          @include pie-clearfix;

          &:hover {
            border-top: 1px solid #EDEDED;
            background-color: #DFDFDF;
          }

          .source {
            @include float-left;
            width: 60%;

            h2 {
              margin-bottom: .3em;

              a {
                font-size: 16px;
                font-weight: 400;
              }
            }

            .compass_output_view {
              font-size: .6em;

              h3 {
                display: inline;
                width: 100%;
              }

              .css_output_folder {
                color: #008BDF;
                font-style: italic;
                letter-spacing: .12em;
              }
            }
          }

          .compass_commands {
            @include float-right;
            width: 40%;
            @include pie-clearfix;

            .command {
              @include float-right;
              width: 27px;
              margin-left: 5px;
              background-position: center center;
              background-repeat: no-repeat;
              border: 1px solid transparent;

              span {
                display: block;
                padding: 4px 5px;
                border-top: 1px solid transparent;
                @include border-radius(3px, 3px);
              }

              &:hover {
                background-color: #F3F3F3;
                border: 1px solid #C0C0C0;
                @include border-radius(3px, 3px);
                @include box-shadow(#EDEDED, 0px, 1px, 0px, 0px, false);

                span {
                  border-top: 1px solid #EDEDED;
                  @include border-radius(3px, 3px);
                }
              }

              &:active {
                background-color: #C0C0C0;
                border: 1px solid #B0B0B0;
                @include border-radius(3px, 3px);
                @include box-shadow(#EDEDED, 0px, 1px, 0px, 0px, false);

                span {
                  border-top: 1px solid transparent;
                  @include border-radius(3px, 3px);
                }
              }

              &.disabled {
                border: 1px solid transparent;
                background-color: transparent;
                cursor: default;
                @include box-shadow(#FFFFFF, 0px, 0px, 0px, 0px, false);

                span {
                  border-top: 1px solid transparent;
                }
              }

              &.initialize {
                width: 60px;
                font-size: .9em;
                text-decoration: none;
                text-align: center;
                text-shadow: 0 1px 1px #F6F6F6;
                color: #2C2C2C;
                border: 1px solid #BEBEBE;
                @include border-radius(6px, 6px);
                background-image: url('../images/button.png');
                background-color: #E9E9E9;
                background-repeat: repeat-x;
                background-position: center bottom;
                @include box-shadow(#FFFFFF, 0px, 1px, 0px, 0px, false);

                span {
                  padding: 3px;
                  @include border-radius(6px, 6px);
                  border-top: 1px solid #FFFFFF;
                }

                &:hover {
                  background-color: #F3F3F3;
                  border: 1px solid #C0C0C0;
                }

                &:active {
                  background-color: #C0C0C0;
                  border: 1px solid #B0B0B0;
                  
                  span {
                    border-top: 1px solid transparent;
                  }
                }
              }

              &.scss_style {
                @include replace-text('/images/scss_folder.png');

                &.disabled {
                  @include replace-text('/images/disabled_scss_folder.png');
                }
              }

              &.console {
                @include replace-text('/images/log.png');
              }

              &.start {
                @include replace-text('/images/watch.png');
              }

              &.stop {
                @include replace-text('/images/stop.png');
              }
            }
          }
        }
      }
    }
    
    .project_options {
      border-top: 1px solid #FFFFFF;
      @include pie-clearfix;

      .option {
        @include float-left;
        width: 29px;
        font-size: .9em;
        text-decoration: none;
        text-align: center;
        text-shadow: 0 1px 1px #F6F6F6;
        background-image: url('../images/button.png');
        background-repeat: repeat-x;
        background-position: center bottom;
        background-color: #FFFFFF;
        border: 1px solid #BEBEBE;
        @include box-shadow(#FFFFFF, 0px, 1px, 1px, 0px, false);

        span {
          display: block;
          padding: 6px;
          border-top: 1px solid #FFFFFF;
        }

        &:hover {
          background-color: #F3F3F3;
        }

        &:active {
          background-color: #C0C0C0;
          border: 1px solid #B0B0B0;

          span {
            border-top: 1px solid transparent;
          }
        }

        &.add {
          @include border-bottom-left-radius( 6px);

          span {
            @include replace-text('/images/add.png');
          }
        }

        &.remove {
          @include border-bottom-right-radius( 6px);
          border-left: none;
          
          span {
            @include replace-text('/images/remove.png');
          }
        }
      }
    }
  }

  #new-project {
    margin-top: 2em;
  }
}
