#list {
  .projects_container {
    &.hover {
      .addhere {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1000;
        height: 100%;
        width: 100%;
        background-image: url("../images/drop_area_plate.png");
        background-position: center center;
        background-repeat: no-repeat;
        background-color: #8A8A8A;
        @include opacity(.8);
      }
    }
  }
}