@charset "UTF-8";
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/*jquery mobile styles - default*/
/*@import "../partials/jquery.mobile-1.0a3.min";*/
/* line 14, ../../vendor/jruby-1.6.0.RC2/lib/ruby/gems/1.8/gems/compass-0.11.beta.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 17, ../../vendor/jruby-1.6.0.RC2/lib/ruby/gems/1.8/gems/compass-0.11.beta.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
  color: black;
  background: white;
}

/* line 19, ../../vendor/jruby-1.6.0.RC2/lib/ruby/gems/1.8/gems/compass-0.11.beta.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 21, ../../vendor/jruby-1.6.0.RC2/lib/ruby/gems/1.8/gems/compass-0.11.beta.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 23, ../../vendor/jruby-1.6.0.RC2/lib/ruby/gems/1.8/gems/compass-0.11.beta.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 25, ../../vendor/jruby-1.6.0.RC2/lib/ruby/gems/1.8/gems/compass-0.11.beta.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: "" "";
}
/* line 96, ../../vendor/jruby-1.6.0.RC2/lib/ruby/gems/1.8/gems/compass-0.11.beta.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
}

/* line 27, ../../vendor/jruby-1.6.0.RC2/lib/ruby/gems/1.8/gems/compass-0.11.beta.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/*shell styles*/
/*Colors:
    • strong red           - FB292D
    • em gold               - DADBB1
    • h4 white              - FFFFFF


    • darkest shadow - 171717
    • a blue                  - 84BCDE

    • bg gray                - ECECEC
    • bg box                 - E2E2E2
    • border gray         - BBBBBB
    • h4 dark                 - 222222
    • p dark                   - 111111 (with white text shadow)
*/
/*html, body {
  height: 100%;
}
*/
/* line 21, partials/shells/_light.scss */
body {
  margin: 0;
  padding: 0;
  background-color: #ECECEC;
}
/* line 28, partials/shells/_light.scss */
body p,
body a {
  font-family: Arial, sans-serif;
  font-weight: 400;
}
/* line 33, partials/shells/_light.scss */
body a {
  color: #5a5a5a;
  text-decoration: none;
}
/* line 18, ../../vendor/jruby-1.6.0.RC2/lib/ruby/gems/1.8/gems/compass-0.11.beta.2/frameworks/compass/stylesheets/compass/utilities/links/_link-colors.scss */
body a:visited {
  color: #5a5a5a;
}
/* line 24, ../../vendor/jruby-1.6.0.RC2/lib/ruby/gems/1.8/gems/compass-0.11.beta.2/frameworks/compass/stylesheets/compass/utilities/links/_link-colors.scss */
body a:hover {
  color: #171717;
}
/* line 27, ../../vendor/jruby-1.6.0.RC2/lib/ruby/gems/1.8/gems/compass-0.11.beta.2/frameworks/compass/stylesheets/compass/utilities/links/_link-colors.scss */
body a:active {
  color: #bbbbbb;
}
/* line 4, ../../vendor/jruby-1.6.0.RC2/lib/ruby/gems/1.8/gems/compass-0.11.beta.2/frameworks/compass/stylesheets/compass/utilities/links/_hover-link.scss */
body a:hover {
  text-decoration: underline;
}
/* line 40, partials/shells/_light.scss */
body h1,
body h2,
body h3 {
  font-family: Helvetica, Arial, sans-serif;
}
/* line 44, partials/shells/_light.scss */
body h1 {
  font-size: 24px;
}
/* line 47, partials/shells/_light.scss */
body h2 {
  font-size: 18px;
}
/* line 51, partials/shells/_light.scss */
body .header {
  /*      padding: 9px 10px;*/
  border-top: 1px solid #393737;
  /*      @include linear-gradient(color-stops(#696767, #453F3F, #4a4242));*/
}
/* line 56, partials/shells/_light.scss */
body .header h1 {
  margin: 0;
  padding: 9px 0;
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  background-image: url(/images/logo-compass-small-dark.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-position: left center;
}
/* line 66, partials/shells/_light.scss */
body .view .content {
  border-top: 1px solid #FFFFFF;
}
/* line 70, partials/shells/_light.scss */
body .view .content h2 a {
  text-decoration: none;
}

/*#todo @import "../partials/shells/dark"; */
/*views styles*/
/* line 10, ../../vendor/jruby-1.6.0.RC2/lib/ruby/gems/1.8/gems/compass-0.11.beta.2/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
html, body {
  height: 100%;
}

/* line 12, ../../vendor/jruby-1.6.0.RC2/lib/ruby/gems/1.8/gems/compass-0.11.beta.2/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
body {
  clear: both;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin-bottom: -26px;
}
/* line 18, ../../vendor/jruby-1.6.0.RC2/lib/ruby/gems/1.8/gems/compass-0.11.beta.2/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
body .footer {
  height: 26px;
}

/* line 20, ../../vendor/jruby-1.6.0.RC2/lib/ruby/gems/1.8/gems/compass-0.11.beta.2/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
#footer {
  clear: both;
  position: relative;
  height: 26px;
}

/* line 2, partials/views/_list.scss */
body {
  position: relative;
}

/* line 6, partials/views/_list.scss */
.header {
  height: 60px;
  padding: 15px 0 0 15px;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #4f4f4f), color-stop(100%, #2f2f2f));
  background-image: -moz-linear-gradient(top, #4f4f4f, #2f2f2f);
  background-image: linear-gradient(top, #4f4f4f, #2f2f2f);
}

/* line 12, partials/views/_list.scss */
#list {
  position: absolute;
  top: 70px;
  bottom: 25px;
  right: 0;
  left: 0;
  overflow-y: auto;
  background-color: #DFE4EA;
  -moz-box-shadow: inset 0px 0px 12px 0px #b0b0b0;
  -webkit-box-shadow: inset 0px 0px 12px 0px #b0b0b0;
  -o-box-shadow: inset 0px 0px 12px 0px #b0b0b0;
  box-shadow: inset 0px 0px 12px 0px #b0b0b0;
}
/* line 22, partials/views/_list.scss */
#list .content {
  background-color: #C9C9C9;
}
/* line 25, partials/views/_list.scss */
#list .content .drop_area_note {
  position: absolute;
  height: 30px;
  /*      z-index: 1;*/
  right: 0;
  left: 15px;
  bottom: 0;
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  background-image: url('images/../images/drop_area_note.png');
  background-repeat: no-repeat;
  background-position: 0 0;
}
/* line 35, partials/views/_list.scss */
#list .content .projects {
  position: relative;
  z-index: 100;
  margin: 0;
  padding: 0;
  overflow-y: auto;
}
/* line 42, partials/views/_list.scss */
#list .content .projects .project {
  height: 40px;
  margin: 0;
  padding-right: 50px;
  padding: 10px 15px;
  text-decoration: none;
  color: #444444;
  background-color: #E9E9E9;
  border-top: 1px solid #FFFFFF;
  border-bottom: 1px solid #BCBCBC;
  list-style: none;
  overflow: hidden;
  *zoom: 1;
}
/* line 22, ../../vendor/jruby-1.6.0.RC2/lib/ruby/gems/1.8/gems/compass-0.11.beta.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
#list .content .projects .project:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}
/* line 58, partials/views/_list.scss */
#list .content .projects .project:hover {
  border-top: 1px solid #EDEDED;
  background-color: #DFDFDF;
  -moz-transition-property: background-color;
  -webkit-transition-property: background-color;
  -o-transition-property: background-color;
  transition-property: background-color;
  -moz-transition-duration: 0.25s;
  -webkit-transition-duration: 0.25s;
  -o-transition-duration: 0.25s;
  transition-duration: 0.25s;
  -moz-transition-timing-function: ease-in;
  -webkit-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
  -moz-transition-delay: 0s;
  -webkit-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
}
/* line 64, partials/views/_list.scss */
#list .content .projects .project .source {
  display: inline;
  float: left;
  width: 60%;
}
/* line 68, partials/views/_list.scss */
#list .content .projects .project .source h2 {
  margin-bottom: 0;
  line-height: 40px;
}
/* line 72, partials/views/_list.scss */
#list .content .projects .project .source h2 a {
  color: #222;
  font-size: 20px;
  font-weight: 800;
}
/* line 80, partials/views/_list.scss */
#list .content .projects .project .compass_commands {
  display: inline;
  float: right;
  width: 40%;
  padding-top: 5px;
  *zoom: 1;
}
/* line 22, ../../vendor/jruby-1.6.0.RC2/lib/ruby/gems/1.8/gems/compass-0.11.beta.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
#list .content .projects .project .compass_commands:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}
/* line 86, partials/views/_list.scss */
#list .content .projects .project .compass_commands .command {
  display: inline;
  float: right;
  width: 27px;
  margin-left: 5px;
  background-position: center center;
  background-repeat: no-repeat;
  border: 1px solid transparent;
}
/* line 94, partials/views/_list.scss */
#list .content .projects .project .compass_commands .command span {
  display: block;
  padding: 4px 5px;
  border-top: 1px solid transparent;
  -webkit-border-radius: 3px 3px;
  -moz-border-radius: 3px / 3px;
  -o-border-radius: 3px / 3px;
  -ms-border-radius: 3px / 3px;
  -khtml-border-radius: 3px / 3px;
  border-radius: 3px / 3px;
}
/* line 101, partials/views/_list.scss */
#list .content .projects .project .compass_commands .command:hover {
  background-color: #F3F3F3;
  border: 1px solid #C0C0C0;
  -webkit-border-radius: 3px 3px;
  -moz-border-radius: 3px / 3px;
  -o-border-radius: 3px / 3px;
  -ms-border-radius: 3px / 3px;
  -khtml-border-radius: 3px / 3px;
  border-radius: 3px / 3px;
  -moz-box-shadow: 0px 1px 0px 0px #ededed;
  -webkit-box-shadow: 0px 1px 0px 0px #ededed;
  -o-box-shadow: 0px 1px 0px 0px #ededed;
  box-shadow: 0px 1px 0px 0px #ededed;
}
/* line 107, partials/views/_list.scss */
#list .content .projects .project .compass_commands .command:hover span {
  border-top: 1px solid #EDEDED;
  -webkit-border-radius: 3px 3px;
  -moz-border-radius: 3px / 3px;
  -o-border-radius: 3px / 3px;
  -ms-border-radius: 3px / 3px;
  -khtml-border-radius: 3px / 3px;
  border-radius: 3px / 3px;
}
/* line 113, partials/views/_list.scss */
#list .content .projects .project .compass_commands .command:active {
  background-color: #C0C0C0;
  border: 1px solid #B0B0B0;
  -webkit-border-radius: 3px 3px;
  -moz-border-radius: 3px / 3px;
  -o-border-radius: 3px / 3px;
  -ms-border-radius: 3px / 3px;
  -khtml-border-radius: 3px / 3px;
  border-radius: 3px / 3px;
  -moz-box-shadow: 0px 1px 0px 0px #ededed;
  -webkit-box-shadow: 0px 1px 0px 0px #ededed;
  -o-box-shadow: 0px 1px 0px 0px #ededed;
  box-shadow: 0px 1px 0px 0px #ededed;
}
/* line 119, partials/views/_list.scss */
#list .content .projects .project .compass_commands .command:active span {
  border-top: 1px solid transparent;
  -webkit-border-radius: 3px 3px;
  -moz-border-radius: 3px / 3px;
  -o-border-radius: 3px / 3px;
  -ms-border-radius: 3px / 3px;
  -khtml-border-radius: 3px / 3px;
  border-radius: 3px / 3px;
}
/* line 125, partials/views/_list.scss */
#list .content .projects .project .compass_commands .command.disabled {
  border: 1px solid transparent;
  background-color: transparent;
  cursor: default;
  -moz-box-shadow: 0px 0px 0px 0px white;
  -webkit-box-shadow: 0px 0px 0px 0px white;
  -o-box-shadow: 0px 0px 0px 0px white;
  box-shadow: 0px 0px 0px 0px white;
}
/* line 131, partials/views/_list.scss */
#list .content .projects .project .compass_commands .command.disabled span {
  border-top: 1px solid transparent;
}
/* line 136, partials/views/_list.scss */
#list .content .projects .project .compass_commands .command.initialize {
  width: auto;
  padding: 0px 8px;
  text-decoration: none;
  text-align: center;
  text-shadow: 0 1px 1px #F6F6F6;
  color: #2C2C2C;
  border: 1px solid #BEBEBE;
  -webkit-border-radius: 6px 6px;
  -moz-border-radius: 6px / 6px;
  -o-border-radius: 6px / 6px;
  -ms-border-radius: 6px / 6px;
  -khtml-border-radius: 6px / 6px;
  border-radius: 6px / 6px;
  background-color: #E9E9E9;
  background-repeat: repeat-x;
  background-position: center bottom;
  /*              @include box-shadow(#FFFFFF, 0px, 1px, 0px, 0px, false);*/
}
/* line 150, partials/views/_list.scss */
#list .content .projects .project .compass_commands .command.initialize span {
  padding: 3px;
  -webkit-border-radius: 6px 6px;
  -moz-border-radius: 6px / 6px;
  -o-border-radius: 6px / 6px;
  -ms-border-radius: 6px / 6px;
  -khtml-border-radius: 6px / 6px;
  border-radius: 6px / 6px;
  border-top: 1px solid #FFFFFF;
}
/* line 156, partials/views/_list.scss */
#list .content .projects .project .compass_commands .command.initialize:hover {
  background-color: #F3F3F3;
  border: 1px solid #C0C0C0;
}
/* line 161, partials/views/_list.scss */
#list .content .projects .project .compass_commands .command.initialize:active {
  background-color: #C0C0C0;
  border: 1px solid #B0B0B0;
}
/* line 165, partials/views/_list.scss */
#list .content .projects .project .compass_commands .command.initialize:active span {
  border-top: 1px solid transparent;
}
/* line 171, partials/views/_list.scss */
#list .content .projects .project .compass_commands .command.scss_style {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  background-image: url(/images/scss_folder.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
/* line 174, partials/views/_list.scss */
#list .content .projects .project .compass_commands .command.scss_style.disabled {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  background-image: url(/images/disabled_scss_folder.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
/* line 179, partials/views/_list.scss */
#list .content .projects .project .compass_commands .command.console {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  background-image: url(/images/log.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
/* line 183, partials/views/_list.scss */
#list .content .projects .project .compass_commands .command.start {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  background-image: url(/images/watch.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
/* line 187, partials/views/_list.scss */
#list .content .projects .project .compass_commands .command.stop {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  background-image: url(/images/stop.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

/* line 197, partials/views/_list.scss */
.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  border-top: 1px solid #cacaca;
  *zoom: 1;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f7f7f7), color-stop(50%, #f3f3f3), color-stop(50%, #e6e6e6), color-stop(100%, #e6e6e6));
  background-image: -moz-linear-gradient(top, #f7f7f7 0%, #f3f3f3 50%, #e6e6e6 50%, #e6e6e6 100%);
  background-image: linear-gradient(top, #f7f7f7 0%, #f3f3f3 50%, #e6e6e6 50%, #e6e6e6 100%);
}
/* line 22, ../../vendor/jruby-1.6.0.RC2/lib/ruby/gems/1.8/gems/compass-0.11.beta.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.footer:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}
/* line 206, partials/views/_list.scss */
.footer .option {
  display: inline;
  float: left;
  width: 29px;
  text-decoration: none;
  text-align: center;
  text-shadow: 0 1px 1px #F6F6F6;
  background-repeat: repeat-x;
  background-position: center bottom;
  border-right: 1px solid #cacaca;
}
/* line 216, partials/views/_list.scss */
.footer .option span {
  display: block;
  height: 24px;
}
/* line 221, partials/views/_list.scss */
.footer .option:hover {
  background-color: #F3F3F3;
}
/* line 225, partials/views/_list.scss */
.footer .option:active {
  background-color: #C0C0C0;
}
/* line 230, partials/views/_list.scss */
.footer .option.add span {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  background-image: url(/images/add.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
/* line 235, partials/views/_list.scss */
.footer .option.remove {
  /*          border-left: none;*/
}
/* line 238, partials/views/_list.scss */
.footer .option.remove span {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  background-image: url(/images/remove.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
/* line 244, partials/views/_list.scss */
.footer #new-project {
  margin-top: 2em;
}

/*#todo @import "../partials/views/edit"; */
/*#todo @import "../partials/views/new";  */
/*events styles*/
/* line 4, partials/events/_dragDrop_addFiles.scss */
#list .projects_container.hover .addhere {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  height: 100%;
  width: 100%;
  background-image: url("../images/drop_area_plate.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-color: #8A8A8A;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
}
