body {

  .header {
    padding: 40px 0 20px;

    .header_content {
      @include span(26);
      margin: 0 auto;

      .container {
        @include pie-clearfix;

        .logo {
          padding-top: 3px;
          @include column(1);
        }

        .hgroup {
          padding-top: 3px;

          h1 {
            padding-bottom: 21px;
          }

          p {
            line-height: 1.55;
          }
        }
      }
    }
  }

  .headline {
    .headline_left {
      @include span(26);
      margin: 0 auto;

      .headline_right {
        .container {

          .container_right {
              padding-bottom: 18px;

            .content {
              padding: 18px 0 21px;

              h2 {
                text-align: center;
              }

              p {
                text-align: center;
              }
            }
          }
        }
      }
    }
  }

  .mainbody {
    .mainbody_content {
      @include span(26);
      margin: 0 auto;

      .description {
        .herographic {
          @include column(14);
          @include append(.5);
          padding-left: 20px;
        }

        .overview {
          @include column(8);
          @include last;
          padding: 21px 10px;

          .download {
            margin-bottom: 30px;

            h3 {
              margin-bottom: 6px;
            }

            .versions {
              margin-bottom: 6px;
              @include pie-clearfix;

              a {
                padding: 9px 6px;

                &.mac {
                  @include column(3.6);
                  margin-right: 4px;
                }

                &.pc {
                  @include column(3.4);
                  @include last;
                }
              }
            }

            .version_notice {
              padding-left: 70px;
            }
          }

          .how {
            p {
              margin-bottom: 6px;
              line-height: 1.55;
            }
          }
        }
      }

    }
  }

  .benefits {
    position: relative;
    height: 172px;
    margin: -81px 0 54px;
    overflow: visible;

    .benefits_content {
      @include span(26);
      margin: 0 auto;

      .benefits_wrapper {
        position: absolute;
        @include column(24);
        margin: 0;
        top: -27px;
        padding: 15px 0;

        .benefits_container {
          overflow: hidden;
          @include pie-clearfix;

          .benefit {
            @include column(8);

            &.manage {
              .benefit_content {
                padding-right: 10px;
                padding-left: 30px;
              }
            }

            &.clean {
              @include last;
            }

            .benefit_content {
              margin-bottom: -5000px;
              padding: 6px 20px 5000px;

              h3 {
                margin-bottom: 6px;
                line-height: 1.55;
              }

              ul {
                padding-left: 15px;

                li {
                  margin-bottom: 6px;
                  line-height: 1.55;
                }
              }
            }
          }

        }
      }

    }
  }

  .footer {
    padding-bottom: 18px;

    .footer_content {
      @include span(26);
      margin: 0 auto;

      p {
        @include column(12);

        &.act {
          @include column(16);
          margin-bottom: 18px;

          span {
            @include inline-block;
            margin-right: 6px;
            padding-top: 6px;
          }

          .twitter {
            @include inline-block;
            width: 90px;
            height: 23px;
          }
        }

        &.community {
          @include column(8);
          @include last;

          span {
            display: block;
            padding: 0 0 0 5px;
            text-align: right;

            strong {
              @include inline-block;
              margin-right: 5px;
            }

            .compass {
              @include inline-block;
              width: 89px;
              height: 27px;
              margin-right: 5px;
            }

            .sass {
              @include inline-block;
              width: 61px;
              height: 24px;
            }
          }
        }

        &.copyright {
          padding-top: 3px;
        }

        &.about {
          @include last;
          text-align: right;

          em {
            @include inline-block;
            margin-right: 3px;
            padding-top: 3px;
          }

          .author {
            @include inline-block;
            width: 146px;
            height: 13px;
          }
        }

      }
    }
  }

}