body {

  .header {
    background-image: url('../images/bg.png');

    .hgroup {
      h1 {
        @include replace-text("logo.png");
        background-position: left center;
      }

      p {
        @include subhead;
        font-size: 15px;
        color: #666666;
        text-transform: uppercase;
      }
    }
  }

  .headline {
    background-image: url('../images/bg.png');

    .headline_left {
      background-image: url('../images/ribbon_left.png');
      background-position: left bottom;
      background-repeat: no-repeat;
      
      .headline_right {
        background-image: url('../images/ribbon_right.png');
        background-position: right bottom;
        background-repeat: no-repeat;

        .container {
          background-image: url('../images/ribbon_left_fold.png');
          background-position: left bottom;
          background-repeat: no-repeat;

          .container_right {
            background-image: url('../images/ribbon_right_fold.png');
            background-position: right bottom;
            background-repeat: no-repeat;

            .content {
              @include background(linear-gradient(#910000, #5B0008));

              h2 {
                font-size: 33px;
                font-weight: bold;
                color: #FFFFFF;
                @include text-shadow(#000000,0px,1px,0px);
              }

              p {
                @include subhead;
                font-size: 18px;
                color: #FFFFFF;
              }
            }
          }
        }
      }
    }
  }

  .mainbody {
    background-image: url('../images/bg.png');

    .description {
      .overview {
        .download {
          h3 {
            font-size: 26px;
            font-weight: 600;
            color: $regular;
            @include text-shadow(#000000, 0px, 1px, 0px);
          }

          .versions {
            a {
              @include box-shadow(#4B7C89, 0px, 1px, 2px, 0px, inset);
              font-size: 12px;
              font-weight: 600;
              text-transform: uppercase;
              text-decoration: none;

              color: #FFFFFF;
              border: 1px solid #333333;
              @include border-radius(3px);
              background-color: #003C50;

              &:hover {
                border: 1px solid #19A4CF;
              }

              &:active {
                @include transition(background-color, .15s, ease-in, 0s);
                @include box-shadow(#04191F, 0px, 1px, 2px, 0px, inset);
                color: #DEDEDE;
                background-color: #04313F;
                outline: none;
              }
            }
          }
          
          .version_notice {
            font-size: 12px;
            font-weight: 600;
            color: $red;
          }
        }

        .how {
          p {
            font-size: 14px;
          }
        }
      }
    }
  }

  .benefits {
    background-color: $midtone;

    .benefits_wrapper {
      @include background(linear-gradient(#343434,#262626));
      @include box-shadow(#565656, 0px, 0px, 40px, 0px, false);

      .benefit {
        &.clean {
          .benefit_content {
            border-right: none;
          }
        }

        .benefit_content {
          border-right: 1px solid #575757;

          h3 {
            font-size: 16px;
            font-weight: 600;
            color: #FFFFFF;
          }

          ul {
            li {
              font-size: 14px;
              color: #AAAAAA;
            }
          }
        }
      }
    }
  }

  .footer {
    p {
      color: $quiet;

      &.act {
        font-size: 14px;

        em {
          font-style: italic;
        }

        .twitter {
          @include replace-text("badge_twitter.png");
        }
      }

      &.community {
        span {

          strong {
            font-size: 14px;
            font-weight: 400;
          }

          .compass {
            @include replace-text("badge_compass.png");
            background-position: center 5px;
            overflow: visible;
          }

          .sass {
            @include replace-text("badge_sass.png");
          }
          
        }
      }

      &.copyright {
        font-size: 12px;
      }

      &.about {
        font-size: 12px;

        em {
          font-style: italic;
        }

        .author {
          @include replace-text("logo_mhs.png");
        }
        
        a {
          color: $regular;
          text-decoration: none;

          &:hover {
            color: $active;
          }
        }
      }
    }
  }

}
