@import "_test.sass";
@import "subfolder/subsubfolder/shouldnotbecopied/_justapartial.sass";
@import 'base';

#thingy {
    border: 1px solid #F00;
    .other {
        color: #00F;
        background: $err2;
    }
}
