.project_details {
/*uncomment  display: none;*/

  .view {
    left: 1px;
    border-top: 1px solid #FFFFFF;
    @include linear-gradient(color-stops(#FBFBFB 80%, #E6E6E6));

    .modes {
      height: 29px;
      padding-right: 10px;
      @include linear-gradient(color-stops(#E9E9E9, #CFCFCF));
      border-bottom: 1px solid #8E8E8E;
      @include pie-clearfix;

      .mode {
        @include float-right;
        margin-left: 5px;
        font-size: 12px;
        padding: 3px 5px;
        color: #fff;
        @include single-text-shadow(#111, 0, 1px, 0);
        border-top: 1px solid #606060;
        border-bottom: 1px solid #e5e5e5;
        @include border-radius(10px);
        @include linear-gradient(color-stops(#737373 1%, #8f8f8f 1%, #959595, #898989));
        
        &:hover {
          
        };
      }
    }

    .options {
      margin: 0;
      padding: 36px 10px 0 50px;

      .option {
        @include pie-clearfix;
        margin-bottom: 12px;

        label {
          @include float-left;
          width: 100px;
          margin-right: 5px;
          text-align: right;
          font-size: 13px;
          font-weight: bold;
        }

        .button_container {
          @include float-left;
          width: 70px;
          margin: -6px 5px 0 0;
          
          button {
            text-align: center;
          }
        }

        .setting {
          @include float-left;
          font-size: 13px;
        }
      }
    }
  }
  
  .footer {
    left: 1px;
  }
}

.non_selected {
  position: absolute;
  top: 70px;
  right: 0;
  bottom: 0;
  left: 40%;

  .view {
    left: 1px;
    border-top: 1px solid #FFFFFF;
    @include linear-gradient(color-stops(#FBFBFB 80%, #E6E6E6));
    background-color: #EFF4F9;
  }
}

