
/* The main settings form to control input/output folders, environment, and  */

$calcHeader: calc(100% - 106px)

#project-settings
    #projectIcon
        max-width: 100px
        max-height: 80px
        background: #EDEDED
        border-radius: 8px
        margin: 8px 0px 0px 0px
        padding: 7px
        float: right
        box-shadow: inset 0px 1px 7px rgba(0, 0, 0, 0.15)
    #projectName
        width: $calcHeader
        word-break: break-all
    #projectFolder
        +bmp0
        width: $calcHeader
        background: transparent
        border-radius: 0px
        color: #AAA
        font-size: 12px
        font-style: italic
        cursor: default
        box-shadow: 0px 0px
    #inputFolder,
    #outputFolder
        padding-right: 32px
    .glyphicon-folder-open
        top: -25px
        right: 15px
        color: #95A5A6
        background: #FFF
        padding: 0px 0px 0px 4px
        cursor: pointer
