!!!
%head
  %title ScoutApp : the Sass/Compass GUI
  = stylesheets
  %link{:href => "../stylesheets/screen.css", :rel => "stylesheet"}
  %script{:src => "../javascripts/vendor/AIRAliases.js", :type => "text/javascript"}
  %script{:src => "../javascripts/vendor/AIRIntrospector.js", :type => "text/javascript"}
  %script{:src => "../javascripts/vendor/underscore-min.js", :type => "text/javascript"}  
  %script{:src => "../javascripts/vendor/jquery-1.6.2.min.js", :type => "text/javascript"}
  %script{:src => "../javascripts/vendor/jquery-ui-1.8.15.custom.min.js", :type => "text/javascript"}
  %script{:src => "../javascripts/vendor/jquery.tmpl.min.js", :type => "text/javascript"}
  %script{:src => "../javascripts/vendor/adaptors/LawnchairAdaptorHelpers.js", :type => "text/javascript"}
  %script{:src => "../javascripts/vendor/adaptors/AIRSqliteAdaptor.js", :type => "text/javascript"}
  %script{:src => "../javascripts/vendor/Lawnchair.js", :type => "text/javascript"}
  = yield
  %script{:src => "../javascripts/app/application.js", :type => "text/javascript"}
  %script{:src => "../javascripts/app/process_interaction.js", :type => "text/javascript"}
  %script#colorize_template{:type => "text/x-jquery-tmpl"}
    %div
      %span{:class => "${color}"} ${string}
  %script#project_template{:type => "text/x-jquery-tmpl"}
    %li.project.stopped{"data-key" => "${key}"}
      .item
        .source
          %h2
            %input{:type => "text", :name => "name", :value => "${name}" }
            %a.name{:href => "#"} ${name}
        .commands
          %button.command.start 
            %span Start
          %button.command.stop 
            %span Stop
  %script#project_details_template{:type => "text/x-jquery-tmpl"}
    .pane.project_details.configure{"data-key" => "${key}"}
      .view
        .modes
          %a.mode.log{:href => "#"} Log
          %a.mode.configure{:href => "#"} Configure
        .log_output
        .option_container
          %h2 Configuration
          .options

            .option_group.stylesheet_directories
              %h3 Stylesheet Directories
              .notice
                %em*Required field
              .option.input
                %label{:for => "sass_input"} Input Folder:
                %button.dir_find.select_sass_dir
                  %span Choose
                %input#sass_input.setting.sass_dir{:value => "${sassDir}"}/
                %em *
              .option.output
                %label{:for => "css_input"} Output Folder:
                %button.dir_find.select_css_dir
                  %span Choose
                %input#css_input.setting.css_dir{:value => "${cssDir}"}/
                %em *

            .option_group
              %h3 Other Directories
              .option.javascripts_dir
                %label{:for => "js_input"} JavaScripts Folder:
                %button.dir_find.select_javascripts_dir
                  %span Choose
                %input#js_input.setting.javascripts_dir{:value => "${javascriptsDir}"}/
              .option.images_dir
                %label{:for => "images"} Images Folder:
                %button.dir_find.select_images_dir
                  %span Choose
                %input#images.setting.images_dir{:value => "${imagesDir}"}/
              .option.config_file
                %label{:for => "images"} Config File:
                %button.dir_find.select_config_file
                  %span Choose
                %input#images.setting.config_file{:value => "${configFile}"}/

                
            .option_group
              %h3 Output Modes
              .option.environment
                %label{:for => "environment"}
                  Environment:
                %select#environment.select_environment{:name => "environment" }
                  %option{'data-environment' => "development", 'selected' => "selected"}
                    Development
                  %option{'data-environment' => "production"}
                    Production

              .option.output_style
                %label{:for => "output_style"}
                  Output Style:
                %select#output_style.select_output_style{:name => "output_style" }
                  %option{'data-output_style' => "nested"}
                    Nested
                  %option{'data-output_style' => "expanded"}
                    Expanded
                  %option{'data-output_style' => "compact"}
                    Compact
                  %option{'data-output_style' => "compressed"}
                    Compressed

            .option_group
              %h3 Manage Project
              .option.remove
                %label Remove Project:
                %button.delete
                  %span Remove


%body
  #header
    %h1 ScoutApp
  .pane.project_list
    .view
      %ul.projects
    .footer
      %a.option.add{:href => "#", :title => "Add a project"}
        %span +
      .splitter.ui-resizable-e.ui-resizable-handle |||
  #main
    .pane.non_selected
      .view
    .footer
      %a.command.clear_log{:href => "#", :alt => "clear log"}
    