!!!
%head
  %title ScoutApp : the Sass/Compass GUI
  = stylesheets
  %link{:href => "stylesheets/screen.css", :rel => "stylesheet"}
  = yield
  %script#colorize_template{:type => "text/x-jquery-tmpl"}
    %div
      %span{:class => "${color}"} ${string}
  %script#project_template{:type => "text/x-jquery-tmpl"}
    %li.project.stopped{"data-key" => "${key}"}
      .item
        .source
          %h2
            %a{:href => "#"} ${name}
        .commands
          %button.command.start 
            %span Start
          %button.command.stop 
            %span Stop
  %script#project_details_template{:type => "text/x-jquery-tmpl"}
    .pane.project_details.configure{"data-key" => "${key}"}
      .view
        .modes
          %a.mode.log{:href => "#"} Log
          %a.mode.configure{:href => "#"} Configure
        .log_output
        .option_container
          %h2 Configuration
          .options

            .option_group.stylesheet_directories
              %h3 Stylesheet Directories
              .notice
                %em*Required field
              .option.input
                %label{:for => "sass_input"} Input Folder:
                %button.dir_find.select_sass_dir
                  %span Choose
                %input#sass_input.setting.sass_dir{:value => "${sassDir}"}/
                %em *
              .option.output
                %label{:for => "css_input"} Output Folder:
                %button.dir_find.select_css_dir
                  %span Choose
                %input#css_input.setting.css_dir{:value => "${cssDir}"}/
                %em *

            .option_group
              %h3 Other Directories
              .option.javascripts_dir
                %label{:for => "js_input"} JavaScripts Folder:
                %button.dir_find.select_javascripts_dir
                  %span Choose
                %input#js_input.setting.javascripts_dir{:value => "${javascriptsDir}"}/
              .option.images_dir
                %label{:for => "images"} Images Folder:
                %button.dir_find.select_images_dir
                  %span Choose
                %input#images.setting.images_dir{:value => "${imagesDir}"}/

            .option_group
              %h3 Manage Project
              .option.remove
                %label Remove Project:
                %button.delete
                  %span Remove
      .footer


%body
  #header
    %h1 ScoutApp
  .pane.project_list
    .view
      %ul.projects
    .footer
      %a.option.add{:href => "#", :title => "Add a project"}
        %span +
      .splitter |||
  .pane.non_selected
    .view
    .footer