body {
  p,
  a {
    font-family: Arial, sans-serif;
    font-weight: 400;
  }

  a {
    @include link-colors(#5A5A5A, #171717, #BBBBBB, #5A5A5A);
    @include hover-link;
  }

  h1,
  h2,
  h3 {
    font-family: Helvetica, Arial, sans-serif;
  }

  h1 {
    font-size: 24px;
  }
  h2 {
    font-size: 18px;
  }
}
