body {
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Verdana, "Verdana Ref", sans-serif;
  font-weight: 400;
  font-size: 12px;

  a {
    @include link-colors(#5A5A5A, #171717, #BBBBBB, #5A5A5A);
    @include hover-link;
  }

  h1 {
    font-size: 24px;
  }

  h2 {
    font-size: 18px;
  }

  button {
    @include float-left;
    margin: 0;
    padding: 2px 5px 3px;
    text-align: center;
    font-weight: 400;

    margin-top: 3px;
    border: 1px solid #737373;
    border-top: 1px solid #898989;
    border-bottom: 1px solid #898989;
    @include border-radius(12px);
    @include background-image(linear-gradient(#F9F9F9, #F3F3F3 33%, #E4E4E4 46%, #D3D3D3, #E0E0E0 60%, #E7E7E7, #FFFFFF));
    @include single-box-shadow(#A9A9A9, 0px, 1px, 2px, 0px, false);

    &:active {
      border-top: 1px solid #15167B;
      border-right: 1px solid #689FD6;
      border-bottom: 1px solid #15167B;
      border-left: 1px solid #2866BB;
      @include background-image(linear-gradient(#D1E7FA, #B6DBFF 33%, #A4D0FD 46%, #7BBBFB, #8AC7FF 60%, #92CDFF, #D7FFFF));
      @include single-box-shadow(#9C9C9C, 0px, 1px, 1px, 0px, false);
    }
  }
}
