@include sticky-footer(18px, 'body', '.footer');

body {
  position: relative;
  margin: 0;
  padding: 0;
  background-color: #ECECEC;
}

#header {
  height: 53px;
  padding: 15px 0 0 15px;
  @include background-image(linear-gradient(#e9e9e9, #cfcfcf));
  border-top: 1px solid #393737;
  border-bottom: 1px solid #878787;

  h1 {
    @include float-left;
    width: 300px;
    margin: 0;
    padding: 9px 0;
/*    @include replace-text("/images/logo-compass-small-dark.png");*/
    @include replace-text("/images/scout-wordmark-tiny.png");
    background-position: left center;
  }
}