.project_list {
  .view {
    .projects {
      
      .project {

        .item {

          .commands {
           @include float-right;
           @include pie-clearfix;

            .command {
              @include float-right;
              margin-left: 5px;
              padding: 0;
              background-color: #DDDDDD;
              border: 1px solid #757575;
              @include border-radius(18px);
              @include background-image(linear-gradient(#FAFAFA, #EAEAEA, #AAAAAA));
              @include single-box-shadow(none);
              cursor: pointer;

              span {
                display: block;
                width: 30px;
                height: 30px;
                @include border-radius(21px);
              }

              &:focus{
                outline: none;
              }

              &:active {
                background-color: #A6A6A6;
                @include single-box-shadow(#5F5F5F, 0px, 2px, 2px, 0px, inset);
              }

              &.start {
               span {
                 @include replace-text('/images/play.png');
                 background-position: 10px center;
                 background-repeat: no-repeat;
               }
              }

              &.stop {
                span {
                  @include replace-text('/images/stop.png');
                  background-position: 10px center;
                }
              }
              
              &.disabled {
                &.start {
                  cursor: default;

                  span {
                    @include opacity(.6);
                  }
                }
              }
            }
          }
        }

        &.selected,
        &.selected:hover {
          .item {
            .commands {
              .command {
                background-color: #5F9DFF;
                border: 1px solid #234D8F;
                @include background-image(linear-gradient(#5F9DFF, #4581DF, #205BAF));
                @include single-box-shadow(none);
                
                &:active {
                  @include single-box-shadow(#1D375F, 0px, 2px, 2px, 0px, inset);
                }

                &.disabled {
                  cursor: default;
                  @include single-box-shadow(none);
                }
              }
            }
          }
        }

      }
    }
  }
}