$item-font-size: 14px;

.project_list {
  max-width: 400px;
  min-width: 60px;

  .view {

    .projects {
      position: relative;
      z-index: 100;
      margin: 0;

      .project {
        margin: 0;
        text-decoration: none;
        color: #444444;

        background-color: #E9E9E9;
        border-top: 1px solid #FFFFFF;
        border-bottom: 1px solid #BCBCBC;
        list-style: none;
        overflow: hidden;
        @include pie-clearfix;

        .item {
          padding: 15px;
          @include pie-clearfix;

          .source {
            @include float-left;
            overflow: hidden;
            width: 70%;

            h2 {
              margin: 0;
              padding: 0 0 0 40px;
              line-height: 39px;
              background-image: url('../images/folder32.png');
              background-repeat: no-repeat;
              background-position: left center;

              a {
                min-width: 30px;
                min-height: 39px;
                color: #222222;
                font-size: $item-font-size;
                text-overflow: ellipsis;
                overflow: hidden;
                display: block;
                white-space: nowrap;

                &:hover {
                  text-decoration: none;
                }
              }
            }
          
            input {
              @include border-radius(4px, 4px);
              @include single-box-shadow(#ebebeb, 0px, 0px, 2px, 0px, false);
              background-clip: padding-box;
              padding: 6px 10px;
              margin-top: 4px;
              margin-bottom: 4px;
              border: 1px solid #CCC;          
              font-size: $item-font-size;
              width: 180px;
              display:none;
            }
          }
        }

        &.selected,
        &.selected:hover {
          @include background-image(linear-gradient(#5389DF, #2363BF));
          border-top: 1px solid #3F89FF;

          .item {
            .source {
              h2 {
                a {
                  color: #FFFFFF;
                }
              }
            }
          }
        }

        &.focused,
        &:hover {
          border-top: 1px solid #EEEEEE;
          background-color: #D4D4D4;
          @include single-transition(background-color, .15s, ease-in, 0s);
          cursor: pointer;

          .item {

            .source {
              h2 {
                a {
                  color: #222222;
                }
              }
            }
          }
        }

      }
    }
  }
}