:javascript
  var ENV='test';

%script{:src => "../spec/lib/jasmine-1.1.0.rc1/jasmine.js", :type => "text/javascript"}
%script{:src => "../spec/lib/jasmine-1.1.0.rc1/jasmine-html.js", :type => "text/javascript"}
%script{:src => "../spec/spec/SpecHelper.js", :type => "text/javascript"}
%script{:src => "../spec/spec/Support.js", :type => "text/javascript"}
%script{:src => "../spec/spec/ScoutAppSpec.js", :type => "text/javascript"}
:javascript
  air.Introspector.toggleWindow();
  $(function(){
    var test_runner_window = window.open("../views/test_runner.html", "logWindow", "height=600, width=400, top=10, left=10, scrollbars=1");
    setTimeout(function(){
      jasmine.getEnv().addReporter(new jasmine.TrivialReporter(test_runner_window.document));
      jasmine.getEnv().execute();
    }, 1000);
  });
