@import "blueprint/reset";

@import "blueprint";
@import "compass";

// Import the non-default scaffolding module.
@import "blueprint/scaffolding";
/*@include blueprint-scaffolding("body");*/

$blueprint-grid-columns: 24;
$blueprint-container-size: 950px;
$blueprint-grid-margin: 10px;
$blueprint-grid-width: ($blueprint-container-size + $blueprint-grid-margin) / $blueprint-grid-columns - $blueprint-grid-margin;

// To generate css equivalent to the blueprint css but with your
// configuration applied, uncomment:
// @include blueprint

body.bp {
  @include blueprint-typography(true);
  @include blueprint-utilities;
  @include blueprint-debug;
  @include blueprint-interaction;
  // Remove the scaffolding when you're ready to start doing visual design.
  // Or leave it in if you're happy with how blueprint looks out-of-the-box
}

form.bp {
  @include blueprint-form;
  // You'll probably want to remove the scaffolding once you start styling your site.
  @include blueprint-scaffolding;
}


@mixin showgrid($image: unquote("../images/grid.png"), $padding_adjustment: 0) {
  // Added a way to adjust for padding so that things remain on the grid image.
  background: url($image);
  background-position: $padding_adjustment top;
}