body {
  .wrapper {
    border: 1px solid #9ff;

    .header,
    .footer {
      margin: 18px 0;
      padding: 18px 10px;
      background-color: #eee;
    }

    .headline,
    .benefits,
    .support,
    .community,
    .get_involved,
    .about {
      border: 1px solid #eee;
    }

    img {
      display: block;
      width: 50px;
      margin: 10px 0;
      padding: 20px 30px;
      background-color: #ddd;
      border: 1px solid #ccc;
      color: #555;
      
      &.headline {
        width: 700px;
        padding-bottom: 360px;
      }
    }
  }
}
