@charset "UTF-8";
/* line 4, ../../../.rvm/gems/ruby-1.8.7-p330/gems/compass-0.11.beta.2/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
html {
  margin: 0;
  padding: 0;
  border: 0;
}

/* line 18, ../../../.rvm/gems/ruby-1.8.7-p330/gems/compass-0.11.beta.2/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
.bp-reset-element, body, h1, h2, h3, h4, h5, h6, article, aside, dialog, figure, footer, header, hgroup, nav, section, blockquote, q, th, td, caption, table,
div, span, object, iframe, p,
pre, a, abbr, acronym, address,
code, del, dfn, em, img,
dl, dt, dd, ol, ul, li, fieldset,
form, label, legend,
caption, tbody, tfoot, thead, tr {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../.rvm/gems/ruby-1.8.7-p330/gems/compass-0.11.beta.2/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
article, aside, dialog, figure, footer, header, hgroup, nav, section {
  display: block;
}

/* line 21, ../../../.rvm/gems/ruby-1.8.7-p330/gems/compass-0.11.beta.2/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
blockquote, q {
  quotes: "" "";
}
/* line 67, ../../../.rvm/gems/ruby-1.8.7-p330/gems/compass-0.11.beta.2/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
}

/* line 22, ../../../.rvm/gems/ruby-1.8.7-p330/gems/compass-0.11.beta.2/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
th, td, caption {
  float: none !important;
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 23, ../../../.rvm/gems/ruby-1.8.7-p330/gems/compass-0.11.beta.2/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 24, ../../../.rvm/gems/ruby-1.8.7-p330/gems/compass-0.11.beta.2/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
a img {
  border: none;
}

/*@include blueprint-scaffolding("body");*/
/* line 19, ../sass/partials/_base.scss */
body.bp {
  line-height: 1.5;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  color: #333333;
  font-size: 75%;
}
/* line 51, ../../../.rvm/gems/ruby-1.8.7-p330/gems/compass-0.11.beta.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp h1, body.bp h2, body.bp h3, body.bp h4, body.bp h5, body.bp h6 {
  font-weight: normal;
  color: #222222;
}
/* line 52, ../../../.rvm/gems/ruby-1.8.7-p330/gems/compass-0.11.beta.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp h1 img, body.bp h2 img, body.bp h3 img, body.bp h4 img, body.bp h5 img, body.bp h6 img {
  margin: 0;
}
/* line 53, ../../../.rvm/gems/ruby-1.8.7-p330/gems/compass-0.11.beta.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp h1 {
  font-size: 3em;
  line-height: 1;
  margin-bottom: 0.50em;
}
/* line 54, ../../../.rvm/gems/ruby-1.8.7-p330/gems/compass-0.11.beta.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp h2 {
  font-size: 2em;
  margin-bottom: 0.75em;
}
/* line 55, ../../../.rvm/gems/ruby-1.8.7-p330/gems/compass-0.11.beta.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp h3 {
  font-size: 1.5em;
  line-height: 1;
  margin-bottom: 1.00em;
}
/* line 56, ../../../.rvm/gems/ruby-1.8.7-p330/gems/compass-0.11.beta.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp h4 {
  font-size: 1.2em;
  line-height: 1.25;
  margin-bottom: 1.25em;
}
/* line 57, ../../../.rvm/gems/ruby-1.8.7-p330/gems/compass-0.11.beta.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp h5 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1.50em;
}
/* line 58, ../../../.rvm/gems/ruby-1.8.7-p330/gems/compass-0.11.beta.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp h6 {
  font-size: 1em;
  font-weight: bold;
}
/* line 59, ../../../.rvm/gems/ruby-1.8.7-p330/gems/compass-0.11.beta.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp p {
  margin: 0 0 1.5em;
}
/* line 60, ../../../.rvm/gems/ruby-1.8.7-p330/gems/compass-0.11.beta.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp p .left {
  display: inline;
  float: left;
  margin: 1.5em 1.5em 1.5em 0;
  padding: 0;
}
/* line 61, ../../../.rvm/gems/ruby-1.8.7-p330/gems/compass-0.11.beta.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp p .right {
  display: inline;
  float: right;
  margin: 1.5em 0 1.5em 1.5em;
  padding: 0;
}
/* line 62, ../../../.rvm/gems/ruby-1.8.7-p330/gems/compass-0.11.beta.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp a {
  text-decoration: underline;
  color: #0066cc;
}
/* line 18, ../../../.rvm/gems/ruby-1.8.7-p330/gems/compass-0.11.beta.2/frameworks/compass/stylesheets/compass/utilities/links/_link-colors.scss */
body.bp a:visited {
  color: #004c99;
}
/* line 21, ../../../.rvm/gems/ruby-1.8.7-p330/gems/compass-0.11.beta.2/frameworks/compass/stylesheets/compass/utilities/links/_link-colors.scss */
body.bp a:focus {
  color: #0099ff;
}
/* line 24, ../../../.rvm/gems/ruby-1.8.7-p330/gems/compass-0.11.beta.2/frameworks/compass/stylesheets/compass/utilities/links/_link-colors.scss */
body.bp a:hover {
  color: #0099ff;
}
/* line 27, ../../../.rvm/gems/ruby-1.8.7-p330/gems/compass-0.11.beta.2/frameworks/compass/stylesheets/compass/utilities/links/_link-colors.scss */
body.bp a:active {
  color: #bf00ff;
}
/* line 63, ../../../.rvm/gems/ruby-1.8.7-p330/gems/compass-0.11.beta.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp blockquote {
  margin: 1.5em;
  color: #666666;
  font-style: italic;
}
/* line 64, ../../../.rvm/gems/ruby-1.8.7-p330/gems/compass-0.11.beta.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp strong, body.bp dfn {
  font-weight: bold;
}
/* line 65, ../../../.rvm/gems/ruby-1.8.7-p330/gems/compass-0.11.beta.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp em, body.bp dfn {
  font-style: italic;
}
/* line 66, ../../../.rvm/gems/ruby-1.8.7-p330/gems/compass-0.11.beta.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp sup, body.bp sub {
  line-height: 0;
}
/* line 67, ../../../.rvm/gems/ruby-1.8.7-p330/gems/compass-0.11.beta.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp abbr, body.bp acronym {
  border-bottom: 1px dotted #666666;
}
/* line 68, ../../../.rvm/gems/ruby-1.8.7-p330/gems/compass-0.11.beta.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp address {
  margin: 0 0 1.5em;
  font-style: italic;
}
/* line 69, ../../../.rvm/gems/ruby-1.8.7-p330/gems/compass-0.11.beta.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp del {
  color: #666666;
}
/* line 70, ../../../.rvm/gems/ruby-1.8.7-p330/gems/compass-0.11.beta.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp pre {
  margin: 1.5em 0;
  white-space: pre;
}
/* line 71, ../../../.rvm/gems/ruby-1.8.7-p330/gems/compass-0.11.beta.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp pre, body.bp code, body.bp tt {
  font: 1em "andale mono", "lucida console", monospace;
  line-height: 1.5;
}
/* line 72, ../../../.rvm/gems/ruby-1.8.7-p330/gems/compass-0.11.beta.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp li ul, body.bp li ol {
  margin: 0;
}
/* line 73, ../../../.rvm/gems/ruby-1.8.7-p330/gems/compass-0.11.beta.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp ul, body.bp ol {
  margin: 0 1.5em 1.5em 0;
  padding-left: 1.5em;
}
/* line 74, ../../../.rvm/gems/ruby-1.8.7-p330/gems/compass-0.11.beta.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp ul {
  list-style-type: disc;
}
/* line 75, ../../../.rvm/gems/ruby-1.8.7-p330/gems/compass-0.11.beta.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp ol {
  list-style-type: decimal;
}
/* line 76, ../../../.rvm/gems/ruby-1.8.7-p330/gems/compass-0.11.beta.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp dl {
  margin: 0 0 1.5em 0;
}
/* line 77, ../../../.rvm/gems/ruby-1.8.7-p330/gems/compass-0.11.beta.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp dl dt {
  font-weight: bold;
}
/* line 78, ../../../.rvm/gems/ruby-1.8.7-p330/gems/compass-0.11.beta.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp dd {
  margin-left: 1.5em;
}
/* line 79, ../../../.rvm/gems/ruby-1.8.7-p330/gems/compass-0.11.beta.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp table {
  margin-bottom: 1.4em;
  width: 100%;
}
/* line 80, ../../../.rvm/gems/ruby-1.8.7-p330/gems/compass-0.11.beta.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp th {
  font-weight: bold;
}
/* line 81, ../../../.rvm/gems/ruby-1.8.7-p330/gems/compass-0.11.beta.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp thead th {
  background: #c3d9ff;
}
/* line 82, ../../../.rvm/gems/ruby-1.8.7-p330/gems/compass-0.11.beta.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp th, body.bp td, body.bp caption {
  padding: 4px 10px 4px 5px;
}
/* line 85, ../../../.rvm/gems/ruby-1.8.7-p330/gems/compass-0.11.beta.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp table.striped tr:nth-child(even) td,
body.bp table tr.even td {
  background: #e5ecf9;
}
/* line 86, ../../../.rvm/gems/ruby-1.8.7-p330/gems/compass-0.11.beta.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp tfoot {
  font-style: italic;
}
/* line 87, ../../../.rvm/gems/ruby-1.8.7-p330/gems/compass-0.11.beta.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp caption {
  background: #eeeeee;
}
/* line 88, ../../../.rvm/gems/ruby-1.8.7-p330/gems/compass-0.11.beta.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp .quiet {
  color: #666666;
}
/* line 89, ../../../.rvm/gems/ruby-1.8.7-p330/gems/compass-0.11.beta.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp .loud {
  color: #111111;
}
/* line 9, ../../../.rvm/gems/ruby-1.8.7-p330/gems/compass-0.11.beta.2/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body.bp .clear {
  clear: both;
}
/* line 12, ../../../.rvm/gems/ruby-1.8.7-p330/gems/compass-0.11.beta.2/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body.bp .nowrap {
  white-space: nowrap;
}
/* line 16, ../../../.rvm/gems/ruby-1.8.7-p330/gems/compass-0.11.beta.2/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body.bp .clearfix {
  overflow: hidden;
  *zoom: 1;
}
/* line 18, ../../../.rvm/gems/ruby-1.8.7-p330/gems/compass-0.11.beta.2/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body.bp .small {
  font-size: 0.8em;
  margin-bottom: 1.875em;
  line-height: 1.875em;
}
/* line 22, ../../../.rvm/gems/ruby-1.8.7-p330/gems/compass-0.11.beta.2/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body.bp .large {
  font-size: 1.2em;
  line-height: 2.5em;
  margin-bottom: 1.25em;
}
/* line 26, ../../../.rvm/gems/ruby-1.8.7-p330/gems/compass-0.11.beta.2/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body.bp .first {
  margin-left: 0;
  padding-left: 0;
}
/* line 29, ../../../.rvm/gems/ruby-1.8.7-p330/gems/compass-0.11.beta.2/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body.bp .last {
  margin-right: 0;
  padding-right: 0;
}
/* line 32, ../../../.rvm/gems/ruby-1.8.7-p330/gems/compass-0.11.beta.2/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body.bp .top {
  margin-top: 0;
  padding-top: 0;
}
/* line 35, ../../../.rvm/gems/ruby-1.8.7-p330/gems/compass-0.11.beta.2/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body.bp .bottom {
  margin-bottom: 0;
  padding-bottom: 0;
}
/* line 8, ../../../.rvm/gems/ruby-1.8.7-p330/gems/compass-0.11.beta.2/frameworks/blueprint/stylesheets/blueprint/_debug.scss */
body.bp .showgrid {
  background: url('../images/grid.png?1299604071');
}
/* line 4, ../../../.rvm/gems/ruby-1.8.7-p330/gems/compass-0.11.beta.2/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body.bp .feedback, body.bp .error, body.bp .alert, body.bp .notice, body.bp .success, body.bp .info {
  padding: 0.8em;
  margin-bottom: 1em;
  border: 2px solid #dddddd;
}
/* line 5, ../../../.rvm/gems/ruby-1.8.7-p330/gems/compass-0.11.beta.2/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body.bp .error, body.bp .alert {
  background: #fbe3e4;
  color: #8a1f11;
  border-color: #fbc2c4;
}
/* line 27, ../../../.rvm/gems/ruby-1.8.7-p330/gems/compass-0.11.beta.2/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body.bp .error a, body.bp .alert a {
  color: #8a1f11;
}
/* line 7, ../../../.rvm/gems/ruby-1.8.7-p330/gems/compass-0.11.beta.2/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body.bp .notice {
  background: #fff6bf;
  color: #514721;
  border-color: #ffd324;
}
/* line 36, ../../../.rvm/gems/ruby-1.8.7-p330/gems/compass-0.11.beta.2/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body.bp .notice a {
  color: #514721;
}
/* line 8, ../../../.rvm/gems/ruby-1.8.7-p330/gems/compass-0.11.beta.2/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body.bp .success {
  background: #e6efc2;
  color: #264409;
  border-color: #c6d880;
}
/* line 45, ../../../.rvm/gems/ruby-1.8.7-p330/gems/compass-0.11.beta.2/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body.bp .success a {
  color: #264409;
}
/* line 9, ../../../.rvm/gems/ruby-1.8.7-p330/gems/compass-0.11.beta.2/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body.bp .info {
  background: #d5edf8;
  color: #205791;
  border-color: #92cae4;
}
/* line 54, ../../../.rvm/gems/ruby-1.8.7-p330/gems/compass-0.11.beta.2/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body.bp .info a {
  color: #205791;
}
/* line 10, ../../../.rvm/gems/ruby-1.8.7-p330/gems/compass-0.11.beta.2/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body.bp .hide {
  display: none;
}
/* line 11, ../../../.rvm/gems/ruby-1.8.7-p330/gems/compass-0.11.beta.2/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body.bp .highlight {
  background: yellow;
}
/* line 12, ../../../.rvm/gems/ruby-1.8.7-p330/gems/compass-0.11.beta.2/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body.bp .added {
  background: #006600;
  color: white;
}
/* line 13, ../../../.rvm/gems/ruby-1.8.7-p330/gems/compass-0.11.beta.2/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body.bp .removed {
  background: #990000;
  color: white;
}

/* line 18, ../../../.rvm/gems/ruby-1.8.7-p330/gems/compass-0.11.beta.2/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp label {
  font-weight: bold;
}
/* line 19, ../../../.rvm/gems/ruby-1.8.7-p330/gems/compass-0.11.beta.2/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp fieldset {
  padding: 1.4em;
  margin: 0 0 1.5em 0;
}
/* line 20, ../../../.rvm/gems/ruby-1.8.7-p330/gems/compass-0.11.beta.2/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp legend {
  font-weight: bold;
  font-size: 1.2em;
}
/* line 26, ../../../.rvm/gems/ruby-1.8.7-p330/gems/compass-0.11.beta.2/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp input.text, form.bp input.title, form.bp input[type=email], form.bp input[type=text], form.bp input[type=password] {
  margin: 0.5em 0;
  background-color: white;
  padding: 5px;
}
/* line 27, ../../../.rvm/gems/ruby-1.8.7-p330/gems/compass-0.11.beta.2/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp input.title {
  font-size: 1.5em;
}
/* line 29, ../../../.rvm/gems/ruby-1.8.7-p330/gems/compass-0.11.beta.2/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp textarea {
  margin: 0.5em 0;
  padding: 5px;
}
/* line 30, ../../../.rvm/gems/ruby-1.8.7-p330/gems/compass-0.11.beta.2/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp select {
  margin: 0.5em 0;
}
/* line 55, ../../../.rvm/gems/ruby-1.8.7-p330/gems/compass-0.11.beta.2/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp fieldset {
  border: 1px solid #cccccc;
}
/* line 58, ../../../.rvm/gems/ruby-1.8.7-p330/gems/compass-0.11.beta.2/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp input.text, form.bp input.title, form.bp input[type=email], form.bp input[type=text], form.bp input[type=password],
form.bp textarea {
  background-color: #fff;
  border: 1px solid #bbbbbb;
}
/* line 61, ../../../.rvm/gems/ruby-1.8.7-p330/gems/compass-0.11.beta.2/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp input.text:focus, form.bp input.title:focus, form.bp input[type=email]:focus, form.bp input[type=text]:focus, form.bp input[type=password]:focus,
form.bp textarea:focus {
  border: 1px solid #666666;
}
/* line 65, ../../../.rvm/gems/ruby-1.8.7-p330/gems/compass-0.11.beta.2/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp select {
  background-color: #fff;
  border-width: 1px;
  border-style: solid;
}
/* line 44, ../../../.rvm/gems/ruby-1.8.7-p330/gems/compass-0.11.beta.2/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp input.text, form.bp input.title, form.bp input[type=email], form.bp input[type=text], form.bp input[type=password] {
  width: 300px;
}
/* line 46, ../../../.rvm/gems/ruby-1.8.7-p330/gems/compass-0.11.beta.2/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp textarea {
  width: 390px;
  height: 250px;
}
/* line 39, ../../../.rvm/gems/ruby-1.8.7-p330/gems/compass-0.11.beta.2/frameworks/blueprint/stylesheets/blueprint/_scaffolding.scss */
form.bp .box {
  padding: 1.5em;
  margin-bottom: 1.5em;
  background: #e5ecf9;
}
/* line 42, ../../../.rvm/gems/ruby-1.8.7-p330/gems/compass-0.11.beta.2/frameworks/blueprint/stylesheets/blueprint/_scaffolding.scss */
form.bp .border {
  padding-right: 4px;
  margin-right: 5px;
  border-right: 1px solid #dddddd;
}
/* line 45, ../../../.rvm/gems/ruby-1.8.7-p330/gems/compass-0.11.beta.2/frameworks/blueprint/stylesheets/blueprint/_scaffolding.scss */
form.bp .colborder {
  padding-right: 24px;
  margin-right: 25px;
  border-right: 1px solid #dddddd;
}
/* line 47, ../../../.rvm/gems/ruby-1.8.7-p330/gems/compass-0.11.beta.2/frameworks/blueprint/stylesheets/blueprint/_scaffolding.scss */
form.bp hr {
  background: #dddddd;
  color: #dddddd;
  clear: both;
  float: none;
  width: 100%;
  height: 0.1em;
  margin: 0 0 1.45em;
  border: none;
}
/* line 49, ../../../.rvm/gems/ruby-1.8.7-p330/gems/compass-0.11.beta.2/frameworks/blueprint/stylesheets/blueprint/_scaffolding.scss */
form.bp hr.space {
  background: #dddddd;
  color: #dddddd;
  clear: both;
  float: none;
  width: 100%;
  height: 0.1em;
  margin: 0 0 1.45em;
  border: none;
  background: white;
  color: white;
  visibility: hidden;
}
/* line 51, ../../../.rvm/gems/ruby-1.8.7-p330/gems/compass-0.11.beta.2/frameworks/blueprint/stylesheets/blueprint/_scaffolding.scss */
form.bp form.inline {
  line-height: 3;
}
/* line 6, ../../../.rvm/gems/ruby-1.8.7-p330/gems/compass-0.11.beta.2/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp form.inline p {
  margin-bottom: 0;
}

/* line 3, ../sass/partials/_layout.scss */
body.two-col #container {
  width: 950px;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1;
}
/* line 7, ../sass/partials/_layout.scss */
body.two-col #header, body.two-col #footer {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 950px;
}
/* line 147, ../../../.rvm/gems/ruby-1.8.7-p330/gems/compass-0.11.beta.2/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body.two-col #header, * html body.two-col #footer {
  overflow-x: hidden;
}
/* line 11, ../sass/partials/_layout.scss */
body.two-col #sidebar {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 310px;
}
/* line 147, ../../../.rvm/gems/ruby-1.8.7-p330/gems/compass-0.11.beta.2/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body.two-col #sidebar {
  overflow-x: hidden;
}
/* line 17, ../sass/partials/_layout.scss */
body.two-col #content {
  display: inline;
  float: left;
  margin-right: 0;
  width: 630px;
}
/* line 147, ../../../.rvm/gems/ruby-1.8.7-p330/gems/compass-0.11.beta.2/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body.two-col #content {
  overflow-x: hidden;
}

/* line 28, ../sass/partials/_layout.scss */
body .container {
  width: 950px;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1;
  *zoom: 1;
}
/* line 22, ../../../.rvm/gems/ruby-1.8.7-p330/gems/compass-0.11.beta.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
body .container:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}

/*bg*/
/*fonts*/
/*link*/
/* line 18, ../sass/partials/mockup/_fonts.scss */
h1,
h2,
h3 {
  text-transform: uppercase;
  font-family: "p22-underground-petite-caps","gotham htf ultra",arial,sans-serif;
}

/* line 24, ../sass/partials/mockup/_fonts.scss */
h4,
h5 {
  font-family: "p22-underground","gotham htf book",arial,sans-serif;
}

/* line 30, ../sass/partials/mockup/_fonts.scss */
li,
p,
a {
  font-family: "helvetica neue",arial,sans-serif;
}

/* line 3, ../sass/partials/mockup/_layout.scss */
body .header {
  padding: 42px 0 24px;
}
/* line 6, ../sass/partials/mockup/_layout.scss */
body .header .container {
  *zoom: 1;
}
/* line 22, ../../../.rvm/gems/ruby-1.8.7-p330/gems/compass-0.11.beta.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
body .header .container:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}
/* line 9, ../sass/partials/mockup/_layout.scss */
body .header .container h1 {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 190px;
  padding-right: 20px;
  margin: 0;
  padding-bottom: 30px;
}
/* line 147, ../../../.rvm/gems/ruby-1.8.7-p330/gems/compass-0.11.beta.2/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body .header .container h1 {
  overflow-x: hidden;
}
/* line 16, ../sass/partials/mockup/_layout.scss */
body .header .container p {
  padding-top: 15px;
}
/* line 23, ../sass/partials/mockup/_layout.scss */
body .headline .headline_left {
  width: 1058px;
  margin: 0 auto;
}
/* line 30, ../sass/partials/mockup/_layout.scss */
body .headline .headline_left .headline_right .container .container_right {
  padding-bottom: 18px;
}
/* line 33, ../sass/partials/mockup/_layout.scss */
body .headline .headline_left .headline_right .container .container_right .content {
  padding: 12px 0 18px;
}
/* line 36, ../sass/partials/mockup/_layout.scss */
body .headline .headline_left .headline_right .container .container_right .content h2 {
  margin-bottom: 9px;
  text-align: center;
}
/* line 41, ../sass/partials/mockup/_layout.scss */
body .headline .headline_left .headline_right .container .container_right .content p {
  text-align: center;
}
/* line 53, ../sass/partials/mockup/_layout.scss */
body .mainbody .description .herographic {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 550px;
  padding-right: 20px;
  padding-left: 20px;
}
/* line 147, ../../../.rvm/gems/ruby-1.8.7-p330/gems/compass-0.11.beta.2/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body .mainbody .description .herographic {
  overflow-x: hidden;
}
/* line 59, ../sass/partials/mockup/_layout.scss */
body .mainbody .description .overview {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 310px;
  margin-right: 0;
  padding: 9px 0 36px;
}
/* line 147, ../../../.rvm/gems/ruby-1.8.7-p330/gems/compass-0.11.beta.2/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body .mainbody .description .overview {
  overflow-x: hidden;
}
/* line 64, ../sass/partials/mockup/_layout.scss */
body .mainbody .description .overview .how {
  margin-bottom: 27px;
}
/* line 67, ../sass/partials/mockup/_layout.scss */
body .mainbody .description .overview .how h3 {
  margin-bottom: 12px;
  line-height: 1.6;
}
/* line 72, ../sass/partials/mockup/_layout.scss */
body .mainbody .description .overview .how p {
  line-height: 1.6;
}
/* line 78, ../sass/partials/mockup/_layout.scss */
body .mainbody .description .overview .download h3 {
  margin-bottom: 9px;
}
/* line 82, ../sass/partials/mockup/_layout.scss */
body .mainbody .description .overview .download .versions {
  margin-bottom: 9px;
  *zoom: 1;
}
/* line 22, ../../../.rvm/gems/ruby-1.8.7-p330/gems/compass-0.11.beta.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
body .mainbody .description .overview .download .versions:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}
/* line 86, ../sass/partials/mockup/_layout.scss */
body .mainbody .description .overview .download .versions a {
  padding: 9px 6px;
}
/* line 89, ../sass/partials/mockup/_layout.scss */
body .mainbody .description .overview .download .versions a.mac {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 134px;
  margin-right: 4px;
}
/* line 147, ../../../.rvm/gems/ruby-1.8.7-p330/gems/compass-0.11.beta.2/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body .mainbody .description .overview .download .versions a.mac {
  overflow-x: hidden;
}
/* line 94, ../sass/partials/mockup/_layout.scss */
body .mainbody .description .overview .download .versions a.pc {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 126px;
  margin-right: 0;
}
/* line 147, ../../../.rvm/gems/ruby-1.8.7-p330/gems/compass-0.11.beta.2/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body .mainbody .description .overview .download .versions a.pc {
  overflow-x: hidden;
}
/* line 101, ../sass/partials/mockup/_layout.scss */
body .mainbody .description .overview .download .version_notice {
  padding-left: 70px;
}
/* line 110, ../sass/partials/mockup/_layout.scss */
body .benefits {
  position: relative;
  height: 210px;
  margin: -78px 0 30px;
  overflow: visible;
}
/* line 116, ../sass/partials/mockup/_layout.scss */
body .benefits .benefits_wrapper {
  position: absolute;
  top: -27px;
  padding: 30px 0 9px;
}
/* line 121, ../sass/partials/mockup/_layout.scss */
body .benefits .benefits_wrapper .benefit {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 270px;
  padding: 0 24px 9px 15px;
}
/* line 147, ../../../.rvm/gems/ruby-1.8.7-p330/gems/compass-0.11.beta.2/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body .benefits .benefits_wrapper .benefit {
  overflow-x: hidden;
}
/* line 125, ../sass/partials/mockup/_layout.scss */
body .benefits .benefits_wrapper .benefit.clean {
  margin-right: 0;
}
/* line 129, ../sass/partials/mockup/_layout.scss */
body .benefits .benefits_wrapper .benefit h3 {
  margin-bottom: 21px;
}
/* line 133, ../sass/partials/mockup/_layout.scss */
body .benefits .benefits_wrapper .benefit ul {
  padding-left: 15px;
}
/* line 136, ../sass/partials/mockup/_layout.scss */
body .benefits .benefits_wrapper .benefit ul li {
  margin-bottom: 18px;
}
/* line 144, ../sass/partials/mockup/_layout.scss */
body .footer {
  padding-bottom: 18px;
}
/* line 146, ../sass/partials/mockup/_layout.scss */
body .footer p {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 470px;
}
/* line 147, ../../../.rvm/gems/ruby-1.8.7-p330/gems/compass-0.11.beta.2/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body .footer p {
  overflow-x: hidden;
}
/* line 149, ../sass/partials/mockup/_layout.scss */
body .footer p.act {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 630px;
  margin-bottom: 18px;
  padding-top: 12px;
}
/* line 147, ../../../.rvm/gems/ruby-1.8.7-p330/gems/compass-0.11.beta.2/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body .footer p.act {
  overflow-x: hidden;
}
/* line 155, ../sass/partials/mockup/_layout.scss */
body .footer p.community {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 310px;
  margin-right: 0;
}
/* line 147, ../../../.rvm/gems/ruby-1.8.7-p330/gems/compass-0.11.beta.2/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body .footer p.community {
  overflow-x: hidden;
}
/* line 159, ../sass/partials/mockup/_layout.scss */
body .footer p.community span {
  display: block;
  padding: 9px 10px;
}
/* line 163, ../sass/partials/mockup/_layout.scss */
body .footer p.community span strong {
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  margin-right: 15px;
}
/* line 7, ../../../.rvm/gems/ruby-1.8.7-p330/gems/compass-0.11.beta.2/frameworks/compass/stylesheets/compass/css3/_inline-block.scss */
body .footer p.community span strong {
  *display: inline;
}
/* line 168, ../sass/partials/mockup/_layout.scss */
body .footer p.community span .compass {
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  width: 89px;
  height: 27px;
  margin-right: 15px;
}
/* line 7, ../../../.rvm/gems/ruby-1.8.7-p330/gems/compass-0.11.beta.2/frameworks/compass/stylesheets/compass/css3/_inline-block.scss */
body .footer p.community span .compass {
  *display: inline;
}
/* line 175, ../sass/partials/mockup/_layout.scss */
body .footer p.community span .sass {
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  width: 61px;
  height: 24px;
}
/* line 7, ../../../.rvm/gems/ruby-1.8.7-p330/gems/compass-0.11.beta.2/frameworks/compass/stylesheets/compass/css3/_inline-block.scss */
body .footer p.community span .sass {
  *display: inline;
}
/* line 183, ../sass/partials/mockup/_layout.scss */
body .footer p.about {
  margin-right: 0;
  text-align: right;
}
/* line 187, ../sass/partials/mockup/_layout.scss */
body .footer p.about .author {
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  width: 146px;
  height: 13px;
}
/* line 7, ../../../.rvm/gems/ruby-1.8.7-p330/gems/compass-0.11.beta.2/frameworks/compass/stylesheets/compass/css3/_inline-block.scss */
body .footer p.about .author {
  *display: inline;
}

/* line 3, ../sass/partials/mockup/_style.scss */
body .header {
  background-image: url("../images/bg.png");
}
/* line 6, ../sass/partials/mockup/_style.scss */
body .header h1 {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  background-image: url('../images/logo.png?1299623020');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-position: left center;
}
/* line 11, ../sass/partials/mockup/_style.scss */
body .header p {
  font-family: "p22-underground","gotham htf book",arial,sans-serif;
  font-size: 22px;
  color: #666666;
  text-transform: uppercase;
}
/* line 19, ../sass/partials/mockup/_style.scss */
body .headline {
  background-image: url("../images/bg.png");
}
/* line 22, ../sass/partials/mockup/_style.scss */
body .headline .headline_left {
  background-image: url("../images/ribbon_left.png");
  background-position: left bottom;
  background-repeat: no-repeat;
}
/* line 27, ../sass/partials/mockup/_style.scss */
body .headline .headline_left .headline_right {
  background-image: url("../images/ribbon_right.png");
  background-position: right bottom;
  background-repeat: no-repeat;
}
/* line 32, ../sass/partials/mockup/_style.scss */
body .headline .headline_left .headline_right .container {
  background-image: url("../images/ribbon_left_fold.png");
  background-position: left bottom;
  background-repeat: no-repeat;
}
/* line 37, ../sass/partials/mockup/_style.scss */
body .headline .headline_left .headline_right .container .container_right {
  background-image: url("../images/ribbon_right_fold.png");
  background-position: right bottom;
  background-repeat: no-repeat;
}
/* line 42, ../sass/partials/mockup/_style.scss */
body .headline .headline_left .headline_right .container .container_right .content {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #910000), color-stop(100%, #5b0008));
  background: -moz-linear-gradient(#910000, #5b0008);
  background: linear-gradient(#910000, #5b0008);
}
/* line 45, ../sass/partials/mockup/_style.scss */
body .headline .headline_left .headline_right .container .container_right .content h2 {
  font-size: 26px;
  font-weight: bold;
  color: #FFFFFF;
  text-shadow: black 0px 1px 0px;
}
/* line 52, ../sass/partials/mockup/_style.scss */
body .headline .headline_left .headline_right .container .container_right .content p {
  font-family: "p22-underground","gotham htf book",arial,sans-serif;
  font-size: 18px;
  color: #FFFFFF;
}
/* line 64, ../sass/partials/mockup/_style.scss */
body .mainbody {
  background-image: url("../images/bg.png");
}
/* line 70, ../sass/partials/mockup/_style.scss */
body .mainbody .description .overview .how h3 {
  font-size: 14px;
  color: #830c0c;
  font-weight: 600;
}
/* line 75, ../sass/partials/mockup/_style.scss */
body .mainbody .description .overview .how p {
  font-size: 14px;
}
/* line 81, ../sass/partials/mockup/_style.scss */
body .mainbody .description .overview .download h3 {
  font-size: 26px;
  font-weight: 600;
  color: #333333;
  text-shadow: black 0px 1px 0px;
}
/* line 89, ../sass/partials/mockup/_style.scss */
body .mainbody .description .overview .download .versions a {
  -moz-box-shadow: inset 0px 1px 2px 0px #4b7c89;
  -webkit-box-shadow: inset 0px 1px 2px 0px #4b7c89;
  -o-box-shadow: inset 0px 1px 2px 0px #4b7c89;
  box-shadow: inset 0px 1px 2px 0px #4b7c89;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFFFFF;
  border: 1px solid #333333;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  background-color: #003C50;
}
/* line 101, ../sass/partials/mockup/_style.scss */
body .mainbody .description .overview .download .versions a:hover {
  border: 1px solid #19A4CF;
}
/* line 105, ../sass/partials/mockup/_style.scss */
body .mainbody .description .overview .download .versions a:active {
  -moz-transition-property: background-color;
  -webkit-transition-property: background-color;
  -o-transition-property: background-color;
  transition-property: background-color;
  -moz-transition-duration: 0.15s;
  -webkit-transition-duration: 0.15s;
  -o-transition-duration: 0.15s;
  transition-duration: 0.15s;
  -moz-transition-timing-function: ease-in;
  -webkit-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
  -moz-transition-delay: 0s;
  -webkit-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
  -moz-box-shadow: inset 0px 1px 2px 0px #04191f;
  -webkit-box-shadow: inset 0px 1px 2px 0px #04191f;
  -o-box-shadow: inset 0px 1px 2px 0px #04191f;
  box-shadow: inset 0px 1px 2px 0px #04191f;
  color: #DEDEDE;
  background-color: #04313F;
  outline: none;
}
/* line 115, ../sass/partials/mockup/_style.scss */
body .mainbody .description .overview .download .version_notice {
  font-size: 12px;
  font-weight: 600;
  color: #830c0c;
}
/* line 126, ../sass/partials/mockup/_style.scss */
body .benefits {
  background-color: #b6b6b6;
}
/* line 129, ../sass/partials/mockup/_style.scss */
body .benefits .benefits_wrapper {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #343434), color-stop(100%, #262626));
  background: -moz-linear-gradient(#343434, #262626);
  background: linear-gradient(#343434, #262626);
  -moz-box-shadow: 0px 0px 60px 0px #565656;
  -webkit-box-shadow: 0px 0px 60px 0px #565656;
  -o-box-shadow: 0px 0px 60px 0px #565656;
  box-shadow: 0px 0px 60px 0px #565656;
}
/* line 133, ../sass/partials/mockup/_style.scss */
body .benefits .benefits_wrapper .benefit {
  border-right: 1px solid #575757;
}
/* line 136, ../sass/partials/mockup/_style.scss */
body .benefits .benefits_wrapper .benefit h3 {
  font-size: 18px;
  font-weight: 600;
  color: #FFFFFF;
}
/* line 143, ../sass/partials/mockup/_style.scss */
body .benefits .benefits_wrapper .benefit ul li {
  font-size: 13px;
  color: #FFFFFF;
}
/* line 149, ../sass/partials/mockup/_style.scss */
body .benefits .benefits_wrapper .benefit.clean {
  border-right: none;
}
/* line 156, ../sass/partials/mockup/_style.scss */
body .footer p {
  color: #666666;
}
/* line 159, ../sass/partials/mockup/_style.scss */
body .footer p.act {
  font-size: 14px;
}
/* line 162, ../sass/partials/mockup/_style.scss */
body .footer p.act em {
  font-style: italic;
}
/* line 166, ../sass/partials/mockup/_style.scss */
body .footer p.act .twitter {
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  width: 91px;
  height: 23px;
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  background-image: url('../images/badge_twitter.png?1299701496');
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
/* line 7, ../../../.rvm/gems/ruby-1.8.7-p330/gems/compass-0.11.beta.2/frameworks/compass/stylesheets/compass/css3/_inline-block.scss */
body .footer p.act .twitter {
  *display: inline;
}
/* line 172, ../sass/partials/mockup/_style.scss */
body .footer p.act .twitter:hover {
  -moz-box-shadow: 0px 0px 3px 0px #19a4cf;
  -webkit-box-shadow: 0px 0px 3px 0px #19a4cf;
  -o-box-shadow: 0px 0px 3px 0px #19a4cf;
  box-shadow: 0px 0px 3px 0px #19a4cf;
}
/* line 178, ../sass/partials/mockup/_style.scss */
body .footer p.community {
  background-color: #C0C0C0;
}
/* line 183, ../sass/partials/mockup/_style.scss */
body .footer p.community span strong {
  font-size: 18px;
  font-weight: 400;
}
/* line 188, ../sass/partials/mockup/_style.scss */
body .footer p.community span .compass {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  background-image: url('../images/badge_compass.png?1299706777');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-position: center 5px;
  overflow: visible;
}
/* line 193, ../sass/partials/mockup/_style.scss */
body .footer p.community span .compass:hover {
  -moz-box-shadow: inset 0px 0px 3px 0px #19a4cf;
  -webkit-box-shadow: inset 0px 0px 3px 0px #19a4cf;
  -o-box-shadow: inset 0px 0px 3px 0px #19a4cf;
  box-shadow: inset 0px 0px 3px 0px #19a4cf;
}
/* line 198, ../sass/partials/mockup/_style.scss */
body .footer p.community span .sass {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  background-image: url('../images/badge_sass.png?1299701647');
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
/* line 201, ../sass/partials/mockup/_style.scss */
body .footer p.community span .sass:hover {
  -moz-box-shadow: 0px 0px 3px 0px #19a4cf;
  -webkit-box-shadow: 0px 0px 3px 0px #19a4cf;
  -o-box-shadow: 0px 0px 3px 0px #19a4cf;
  box-shadow: 0px 0px 3px 0px #19a4cf;
}
/* line 209, ../sass/partials/mockup/_style.scss */
body .footer p.copyright {
  font-size: 12px;
}
/* line 213, ../sass/partials/mockup/_style.scss */
body .footer p.about {
  font-size: 12px;
}
/* line 216, ../sass/partials/mockup/_style.scss */
body .footer p.about em {
  font-style: italic;
}
/* line 220, ../sass/partials/mockup/_style.scss */
body .footer p.about .author {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  background-image: url('../images/logo_mhs.png?1299701666');
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
/* line 223, ../sass/partials/mockup/_style.scss */
body .footer p.about .author:hover {
  -moz-box-shadow: inset 0px 0px 3px 0px #19a4cf;
  -webkit-box-shadow: inset 0px 0px 3px 0px #19a4cf;
  -o-box-shadow: inset 0px 0px 3px 0px #19a4cf;
  box-shadow: inset 0px 0px 3px 0px #19a4cf;
}
/* line 228, ../sass/partials/mockup/_style.scss */
body .footer p.about a {
  color: #666666;
  text-decoration: none;
}
/* line 232, ../sass/partials/mockup/_style.scss */
body .footer p.about a:hover {
  color: #19a4cf;
}
