/*
Syntax error: File to import not found or unreadable: partials/events/drag_drop_add_files.
              Load paths:
                /Users/jhwang/Sites/compass-app/scss
                /Library/Ruby/Gems/1.8/gems/compass-0.11.beta.2/frameworks/blueprint/stylesheets
                /Library/Ruby/Gems/1.8/gems/compass-0.11.beta.2/frameworks/compass/stylesheets
                
        on line 24 of /Users/jhwang/Sites/compass-app/scss/screen.scss

Backtrace:
/Users/jhwang/Sites/compass-app/scss/screen.scss:24
/Library/Ruby/Gems/1.8/gems/sass-3.1.0.alpha.221/lib/sass/../sass/tree/import_node.rb:64:in `import'
/Library/Ruby/Gems/1.8/gems/sass-3.1.0.alpha.221/lib/sass/../sass/tree/import_node.rb:25:in `imported_file'
/Library/Ruby/Gems/1.8/gems/sass-3.1.0.alpha.221/lib/sass/../sass/tree/visitors/perform.rb:141:in `visit_import'
/Library/Ruby/Gems/1.8/gems/sass-3.1.0.alpha.221/lib/sass/../sass/tree/visitors/base.rb:37:in `send'
/Library/Ruby/Gems/1.8/gems/sass-3.1.0.alpha.221/lib/sass/../sass/tree/visitors/base.rb:37:in `visit'
/Library/Ruby/Gems/1.8/gems/sass-3.1.0.alpha.221/lib/sass/../sass/tree/visitors/perform.rb:18:in `visit'
/Library/Ruby/Gems/1.8/gems/sass-3.1.0.alpha.221/lib/sass/../sass/tree/visitors/base.rb:53:in `visit_children'
/Library/Ruby/Gems/1.8/gems/sass-3.1.0.alpha.221/lib/sass/../sass/tree/visitors/base.rb:53:in `map'
/Library/Ruby/Gems/1.8/gems/sass-3.1.0.alpha.221/lib/sass/../sass/tree/visitors/base.rb:53:in `visit_children'
/Library/Ruby/Gems/1.8/gems/sass-3.1.0.alpha.221/lib/sass/../sass/tree/visitors/perform.rb:27:in `visit_children'
/Library/Ruby/Gems/1.8/gems/sass-3.1.0.alpha.221/lib/sass/../sass/tree/visitors/perform.rb:39:in `with_environment'
/Library/Ruby/Gems/1.8/gems/sass-3.1.0.alpha.221/lib/sass/../sass/tree/visitors/perform.rb:26:in `visit_children'
/Library/Ruby/Gems/1.8/gems/sass-3.1.0.alpha.221/lib/sass/../sass/tree/visitors/base.rb:37:in `visit'
/Library/Ruby/Gems/1.8/gems/sass-3.1.0.alpha.221/lib/sass/../sass/tree/visitors/perform.rb:47:in `visit_root'
/Library/Ruby/Gems/1.8/gems/sass-3.1.0.alpha.221/lib/sass/../sass/tree/visitors/base.rb:37:in `send'
/Library/Ruby/Gems/1.8/gems/sass-3.1.0.alpha.221/lib/sass/../sass/tree/visitors/base.rb:37:in `visit'
/Library/Ruby/Gems/1.8/gems/sass-3.1.0.alpha.221/lib/sass/../sass/tree/visitors/perform.rb:18:in `visit'
/Library/Ruby/Gems/1.8/gems/sass-3.1.0.alpha.221/lib/sass/../sass/tree/visitors/perform.rb:7:in `send'
/Library/Ruby/Gems/1.8/gems/sass-3.1.0.alpha.221/lib/sass/../sass/tree/visitors/perform.rb:7:in `visit'
/Library/Ruby/Gems/1.8/gems/sass-3.1.0.alpha.221/lib/sass/../sass/tree/root_node.rb:20:in `render'
/Library/Ruby/Gems/1.8/gems/sass-3.1.0.alpha.221/lib/sass/../sass/engine.rb:302:in `_render'
/Library/Ruby/Gems/1.8/gems/sass-3.1.0.alpha.221/lib/sass/../sass/engine.rb:250:in `render'
/Library/Ruby/Gems/1.8/gems/sass-3.1.0.alpha.221/lib/sass/../sass/util.rb:298:in `silence_sass_warnings'
/Library/Ruby/Gems/1.8/gems/sass-3.1.0.alpha.221/lib/sass/../sass/engine.rb:250:in `render'
/Library/Ruby/Gems/1.8/gems/compass-0.11.beta.2/lib/compass/compiler.rb:117:in `compile'
/Library/Ruby/Gems/1.8/gems/compass-0.11.beta.2/lib/compass/compiler.rb:103:in `timed'
/Library/Ruby/Gems/1.8/gems/compass-0.11.beta.2/lib/compass/compiler.rb:116:in `compile'
/Library/Ruby/Gems/1.8/gems/compass-0.11.beta.2/lib/compass/logger.rb:45:in `red'
/Library/Ruby/Gems/1.8/gems/compass-0.11.beta.2/lib/compass/compiler.rb:115:in `compile'
/Library/Ruby/Gems/1.8/gems/compass-0.11.beta.2/lib/compass/compiler.rb:95:in `compile_if_required'
/Library/Ruby/Gems/1.8/gems/compass-0.11.beta.2/lib/compass/compiler.rb:82:in `run'
/Library/Ruby/Gems/1.8/gems/compass-0.11.beta.2/lib/compass/compiler.rb:80:in `each'
/Library/Ruby/Gems/1.8/gems/compass-0.11.beta.2/lib/compass/compiler.rb:80:in `run'
/Library/Ruby/Gems/1.8/gems/compass-0.11.beta.2/lib/compass/compiler.rb:103:in `timed'
/Library/Ruby/Gems/1.8/gems/compass-0.11.beta.2/lib/compass/compiler.rb:79:in `run'
/Library/Ruby/Gems/1.8/gems/compass-0.11.beta.2/lib/compass/commands/watch_project.rb:110:in `recompile'
/Library/Ruby/Site/1.8/rubygems/custom_require.rb:29:in `to_proc'
/Library/Ruby/Gems/1.8/gems/compass-0.11.beta.2/lib/vendor/fssm/fssm/path.rb:71:in `call'
/Library/Ruby/Gems/1.8/gems/compass-0.11.beta.2/lib/vendor/fssm/fssm/path.rb:71:in `run_callback'
/Library/Ruby/Gems/1.8/gems/compass-0.11.beta.2/lib/vendor/fssm/fssm/path.rb:54:in `callback_action'
/Library/Ruby/Gems/1.8/gems/compass-0.11.beta.2/lib/vendor/fssm/fssm/path.rb:34:in `update'
/Library/Ruby/Gems/1.8/gems/compass-0.11.beta.2/lib/vendor/fssm/fssm/state/directory.rb:32:in `modified'
/Library/Ruby/Gems/1.8/gems/compass-0.11.beta.2/lib/vendor/fssm/fssm/state/directory.rb:31:in `each'
/Library/Ruby/Gems/1.8/gems/compass-0.11.beta.2/lib/vendor/fssm/fssm/state/directory.rb:31:in `modified'
/Library/Ruby/Gems/1.8/gems/compass-0.11.beta.2/lib/vendor/fssm/fssm/state/directory.rb:16:in `refresh'
/Library/Ruby/Gems/1.8/gems/compass-0.11.beta.2/lib/vendor/fssm/fssm/backends/fsevents.rb:15:in `add_handler'
/Library/Ruby/Gems/1.8/gems/compass-0.11.beta.2/lib/vendor/fssm/fssm/backends/fsevents.rb:14:in `each'
/Library/Ruby/Gems/1.8/gems/compass-0.11.beta.2/lib/vendor/fssm/fssm/backends/fsevents.rb:14:in `add_handler'
/Library/Ruby/Gems/1.8/gems/compass-0.11.beta.2/lib/vendor/fssm/fssm/backends/rubycocoa/fsevents.rb:107:in `call'
/Library/Ruby/Gems/1.8/gems/compass-0.11.beta.2/lib/vendor/fssm/fssm/backends/rubycocoa/fsevents.rb:107:in `initialize'
/Library/Ruby/Gems/1.8/gems/compass-0.11.beta.2/lib/vendor/fssm/fssm/backends/fsevents.rb:27:in `call'
/Library/Ruby/Gems/1.8/gems/compass-0.11.beta.2/lib/vendor/fssm/fssm/backends/fsevents.rb:27:in `CFRunLoopRun'
/Library/Ruby/Gems/1.8/gems/compass-0.11.beta.2/lib/vendor/fssm/fssm/backends/fsevents.rb:27:in `run'
/Library/Ruby/Gems/1.8/gems/compass-0.11.beta.2/lib/vendor/fssm/fssm/monitor.rb:24:in `run'
/Library/Ruby/Gems/1.8/gems/compass-0.11.beta.2/lib/vendor/fssm/fssm.rb:17:in `monitor'
/Library/Ruby/Gems/1.8/gems/compass-0.11.beta.2/lib/compass/commands/watch_project.rb:61:in `perform'
/Library/Ruby/Gems/1.8/gems/compass-0.11.beta.2/lib/compass/commands/base.rb:18:in `execute'
/Library/Ruby/Gems/1.8/gems/compass-0.11.beta.2/lib/compass/commands/project_base.rb:19:in `execute'
/Library/Ruby/Gems/1.8/gems/compass-0.11.beta.2/lib/compass/exec/sub_command_ui.rb:43:in `perform!'
/Library/Ruby/Gems/1.8/gems/compass-0.11.beta.2/lib/compass/exec/sub_command_ui.rb:15:in `run!'
/Library/Ruby/Gems/1.8/gems/compass-0.11.beta.2/bin/compass:25
/Library/Ruby/Gems/1.8/gems/compass-0.11.beta.2/bin/compass:39:in `call'
/Library/Ruby/Gems/1.8/gems/compass-0.11.beta.2/bin/compass:39
/usr/local/bin/compass:19:in `load'
/usr/local/bin/compass:19
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: File to import not found or unreadable: partials/events/drag_drop_add_files.\A               Load paths:\A                 /Users/jhwang/Sites/compass-app/scss\A                 /Library/Ruby/Gems/1.8/gems/compass-0.11.beta.2/frameworks/blueprint/stylesheets\A                 /Library/Ruby/Gems/1.8/gems/compass-0.11.beta.2/frameworks/compass/stylesheets\A                 \A         on line 24 of /Users/jhwang/Sites/compass-app/scss/screen.scss"; }
