@charset "UTF-8";
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/*jquery mobile styles - default*/
/*@import "../partials/jquery.mobile-1.0a3.min";*/
/* line 14, ../../../.rvm/gems/ruby-1.8.7-p330/gems/compass-0.11.beta.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 17, ../../../.rvm/gems/ruby-1.8.7-p330/gems/compass-0.11.beta.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
  color: black;
  background: white;
}

/* line 19, ../../../.rvm/gems/ruby-1.8.7-p330/gems/compass-0.11.beta.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 21, ../../../.rvm/gems/ruby-1.8.7-p330/gems/compass-0.11.beta.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 23, ../../../.rvm/gems/ruby-1.8.7-p330/gems/compass-0.11.beta.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 25, ../../../.rvm/gems/ruby-1.8.7-p330/gems/compass-0.11.beta.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: "" "";
}
/* line 96, ../../../.rvm/gems/ruby-1.8.7-p330/gems/compass-0.11.beta.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
}

/* line 27, ../../../.rvm/gems/ruby-1.8.7-p330/gems/compass-0.11.beta.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 1, ../scss/partials/_base.scss */
body {
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Verdana, "Verdana Ref", sans-serif;
  font-weight: 400;
  font-size: 12px;
}
/* line 6, ../scss/partials/_base.scss */
body a {
  color: #5a5a5a;
  text-decoration: none;
}
/* line 18, ../../../.rvm/gems/ruby-1.8.7-p330/gems/compass-0.11.beta.2/frameworks/compass/stylesheets/compass/utilities/links/_link-colors.scss */
body a:visited {
  color: #5a5a5a;
}
/* line 24, ../../../.rvm/gems/ruby-1.8.7-p330/gems/compass-0.11.beta.2/frameworks/compass/stylesheets/compass/utilities/links/_link-colors.scss */
body a:hover {
  color: #171717;
}
/* line 27, ../../../.rvm/gems/ruby-1.8.7-p330/gems/compass-0.11.beta.2/frameworks/compass/stylesheets/compass/utilities/links/_link-colors.scss */
body a:active {
  color: #bbbbbb;
}
/* line 4, ../../../.rvm/gems/ruby-1.8.7-p330/gems/compass-0.11.beta.2/frameworks/compass/stylesheets/compass/utilities/links/_hover-link.scss */
body a:hover {
  text-decoration: underline;
}
/* line 11, ../scss/partials/_base.scss */
body h1 {
  font-size: 24px;
}
/* line 15, ../scss/partials/_base.scss */
body h2 {
  font-size: 18px;
}
/* line 19, ../scss/partials/_base.scss */
body button {
  display: inline;
  float: left;
  margin: 0;
  padding: 2px 5px 3px;
  text-align: center;
  font-weight: 400;
  margin-top: 3px;
  border: 1px solid #737373;
  border-top: 1px solid #898989;
  border-bottom: 1px solid #898989;
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
  -o-border-radius: 12px;
  -ms-border-radius: 12px;
  -khtml-border-radius: 12px;
  border-radius: 12px;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f9f9f9), color-stop(33%, #f3f3f3), color-stop(46%, #e4e4e4), color-stop(53%, #d3d3d3), color-stop(60%, #e0e0e0), color-stop(80%, #e7e7e7), color-stop(100%, #ffffff));
  background-image: -moz-linear-gradient(top, #f9f9f9, #f3f3f3 33%, #e4e4e4 46%, #d3d3d3, #e0e0e0 60%, #e7e7e7, #ffffff);
  background-image: linear-gradient(top, #f9f9f9, #f3f3f3 33%, #e4e4e4 46%, #d3d3d3, #e0e0e0 60%, #e7e7e7, #ffffff);
  -moz-box-shadow: 0px 1px 2px 0px #a9a9a9;
  -webkit-box-shadow: 0px 1px 2px 0px #a9a9a9;
  -o-box-shadow: 0px 1px 2px 0px #a9a9a9;
  box-shadow: 0px 1px 2px 0px #a9a9a9;
}
/* line 34, ../scss/partials/_base.scss */
body button:active {
  border-top: 1px solid #15167B;
  border-right: 1px solid #689FD6;
  border-bottom: 1px solid #15167B;
  border-left: 1px solid #2866BB;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #d1e7fa), color-stop(33%, #b6dbff), color-stop(46%, #a4d0fd), color-stop(53%, #7bbbfb), color-stop(60%, #8ac7ff), color-stop(80%, #92cdff), color-stop(100%, #d7ffff));
  background-image: -moz-linear-gradient(top, #d1e7fa, #b6dbff 33%, #a4d0fd 46%, #7bbbfb, #8ac7ff 60%, #92cdff, #d7ffff);
  background-image: linear-gradient(top, #d1e7fa, #b6dbff 33%, #a4d0fd 46%, #7bbbfb, #8ac7ff 60%, #92cdff, #d7ffff);
  -moz-box-shadow: 0px 1px 1px 0px #9c9c9c;
  -webkit-box-shadow: 0px 1px 1px 0px #9c9c9c;
  -o-box-shadow: 0px 1px 1px 0px #9c9c9c;
  box-shadow: 0px 1px 1px 0px #9c9c9c;
}

/* line 10, ../../../.rvm/gems/ruby-1.8.7-p330/gems/compass-0.11.beta.2/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
html, body {
  height: 100%;
}

/* line 12, ../../../.rvm/gems/ruby-1.8.7-p330/gems/compass-0.11.beta.2/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
body {
  clear: both;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin-bottom: -18px;
}
/* line 18, ../../../.rvm/gems/ruby-1.8.7-p330/gems/compass-0.11.beta.2/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
body .footer {
  height: 18px;
}

/* line 20, ../../../.rvm/gems/ruby-1.8.7-p330/gems/compass-0.11.beta.2/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
#footer {
  clear: both;
  position: relative;
  height: 18px;
}

/* line 3, ../scss/partials/_layout.scss */
body {
  position: relative;
  margin: 0;
  padding: 0;
  background-color: #ECECEC;
}

/* line 10, ../scss/partials/_layout.scss */
#header {
  height: 54px;
  padding: 15px 0 0 15px;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #4f4f4f), color-stop(100%, #2f2f2f));
  background-image: -moz-linear-gradient(top, #4f4f4f, #2f2f2f);
  background-image: linear-gradient(top, #4f4f4f, #2f2f2f);
  border-top: 1px solid #393737;
}
/* line 16, ../scss/partials/_layout.scss */
#header h1 {
  display: inline;
  float: left;
  width: 300px;
  margin: 0;
  padding: 9px 0;
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  background-image: url('../images/logo-compass-small-dark.png?1298482402');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-position: left center;
}

/*shell styles*/
/* line 2, ../scss/partials/shells/_shell.scss */
body .project_list {
  position: absolute;
  top: 70px;
  right: 60%;
  bottom: 0;
  left: 0;
  border-right: 1px solid #939393;
}
/* line 11, ../scss/partials/shells/_shell.scss */
body .project_details {
  position: absolute;
  top: 70px;
  right: 0;
  bottom: 0;
  left: 40%;
}
/* line 19, ../scss/partials/shells/_shell.scss */
body .view {
  position: absolute;
  top: 0;
  bottom: 19px;
  right: 0;
  left: 0;
  overflow-y: auto;
  *zoom: 1;
}
/* line 22, ../../../.rvm/gems/ruby-1.8.7-p330/gems/compass-0.11.beta.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
body .view:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}
/* line 29, ../scss/partials/shells/_shell.scss */
body .footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  border-top: 1px solid #939393;
  *zoom: 1;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f7f7f7), color-stop(50%, #f3f3f3), color-stop(50%, #e6e6e6), color-stop(100%, #e6e6e6));
  background-image: -moz-linear-gradient(top, #f7f7f7 0%, #f3f3f3 50%, #e6e6e6 50%, #e6e6e6 100%);
  background-image: linear-gradient(top, #f7f7f7 0%, #f3f3f3 50%, #e6e6e6 50%, #e6e6e6 100%);
}
/* line 22, ../../../.rvm/gems/ruby-1.8.7-p330/gems/compass-0.11.beta.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
body .footer:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}
/* line 38, ../scss/partials/shells/_shell.scss */
body .footer .option {
  display: inline;
  float: left;
  width: 29px;
  text-decoration: none;
  text-align: center;
  text-shadow: 0 1px 1px #F6F6F6;
  background-repeat: repeat-x;
  background-position: center bottom;
  border-right: 1px solid #B3B3B3;
}
/* line 48, ../scss/partials/shells/_shell.scss */
body .footer .option span {
  display: block;
  height: 18px;
}
/* line 53, ../scss/partials/shells/_shell.scss */
body .footer .option:hover {
  background-color: #F3F3F3;
}
/* line 57, ../scss/partials/shells/_shell.scss */
body .footer .option:active {
  background-color: #C0C0C0;
}
/* line 62, ../scss/partials/shells/_shell.scss */
body .footer .option.add span {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  background-image: url('../images/add.png?1298482402');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border-right: 1px solid #F0F0F0;
  border-left: 1px solid #F0F0F0;
}
/* line 70, ../scss/partials/shells/_shell.scss */
body .footer .splitter {
  display: inline;
  float: right;
  width: 15px;
  height: 18px;
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  background-image: url('../images/handle_splitter.png?1298907092');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-position: center center;
  cursor: ew-resize;
}
/* line 79, ../scss/partials/shells/_shell.scss */
body .footer #new-project {
  margin-top: 2em;
}

/*views styles*/
/* line 3, ../scss/partials/views/_project_container.scss */
.project_list .view {
  background-color: #EFF4F9;
  color: yellow;
}
/* line 7, ../scss/partials/views/_project_container.scss */
.project_list .view .projects {
  position: relative;
  z-index: 100;
  margin: 0;
  overflow-y: auto;
}
/* line 13, ../scss/partials/views/_project_container.scss */
.project_list .view .projects .project {
  margin: 0;
  padding: 0 0 15px;
  text-decoration: none;
  color: #444444;
  background-color: #E9E9E9;
  border-top: 1px solid #FFFFFF;
  border-bottom: 1px solid #BCBCBC;
  list-style: none;
  overflow: hidden;
  *zoom: 1;
}
/* line 22, ../../../.rvm/gems/ruby-1.8.7-p330/gems/compass-0.11.beta.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.project_list .view .projects .project:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}
/* line 26, ../scss/partials/views/_project_container.scss */
.project_list .view .projects .project .item {
  padding: 10px 15px 0;
  *zoom: 1;
}
/* line 22, ../../../.rvm/gems/ruby-1.8.7-p330/gems/compass-0.11.beta.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.project_list .view .projects .project .item:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}
/* line 30, ../scss/partials/views/_project_container.scss */
.project_list .view .projects .project .item .source {
  display: inline;
  float: left;
  width: 60%;
}
/* line 35, ../scss/partials/views/_project_container.scss */
.project_list .view .projects .project .item .source h2 {
  margin-bottom: 0;
  padding-left: 40px;
  line-height: 40px;
  background-image: url("../images/folder32.png");
  background-repeat: no-repeat;
  background-position: left center;
}
/* line 43, ../scss/partials/views/_project_container.scss */
.project_list .view .projects .project .item .source h2 a {
  color: #222222;
  font-size: 13px;
}
/* line 47, ../scss/partials/views/_project_container.scss */
.project_list .view .projects .project .item .source h2 a:hover {
  text-decoration: none;
}
/* line 54, ../scss/partials/views/_project_container.scss */
.project_list .view .projects .project .item .commands {
  display: inline;
  float: right;
  width: 40%;
  padding-top: 5px;
  *zoom: 1;
}
/* line 22, ../../../.rvm/gems/ruby-1.8.7-p330/gems/compass-0.11.beta.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.project_list .view .projects .project .item .commands:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}
/* line 61, ../scss/partials/views/_project_container.scss */
.project_list .view .projects .project .item .commands .command {
  display: inline;
  float: right;
  width: 38px;
  margin-left: 5px;
  /*                background-color: #D6FFCF;*/
  border: 1px solid #787878;
  -webkit-border-radius: 21px 21px;
  -moz-border-radius: 21px / 21px;
  -o-border-radius: 21px / 21px;
  -ms-border-radius: 21px / 21px;
  -khtml-border-radius: 21px / 21px;
  border-radius: 21px / 21px;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ff0000), color-stop(100%, #0000ff));
  background-image: -moz-linear-gradient(top, #ff0000, #0000ff);
  background-image: linear-gradient(top, #ff0000, #0000ff);
  /*                @include box-shadow(red, 0px, 0px, 9px, 1px, inset);*/
  /*
                &.initialize {
                  width: auto;
                  padding: 0px 8px;
                  text-decoration: none;
                  text-align: center;
                  text-shadow: 0 1px 1px #F6F6F6;
                  color: #2C2C2C;
                  border: 1px solid #BEBEBE;
                  @include border-radius(6px, 6px);
                  background-color: #E9E9E9;
                  background-repeat: repeat-x;
                  background-position: center bottom;

                  span {
                    padding: 3px;
                    @include border-radius(6px, 6px);
                    border-top: 1px solid #FFFFFF;
                  }

                  &:hover {
                    background-color: #F3F3F3;
                    border: 1px solid #C0C0C0;
                  }

                  &:active {
                    background-color: #C0C0C0;
                    border: 1px solid #B0B0B0;

                    span {
                      border-top: 1px solid transparent;
                    }
                  }
                }
                &.scss_style {
                  @include replace-text('/images/scss_folder.png');

                  &.disabled {
                    @include replace-text('/images/disabled_scss_folder.png');
                  }
                }
                &.console {
                  @include replace-text('/images/log.png');
                }
  */
}
/* line 71, ../scss/partials/views/_project_container.scss */
.project_list .view .projects .project .item .commands .command span {
  display: block;
  padding: 8px;
  border-top: 1px solid transparent;
}
/* line 77, ../scss/partials/views/_project_container.scss */
.project_list .view .projects .project .item .commands .command:hover {
  background-color: #C0C0C0;
  -moz-box-shadow: 0px 1px 0px 0px #ededed;
  -webkit-box-shadow: 0px 1px 0px 0px #ededed;
  -o-box-shadow: 0px 1px 0px 0px #ededed;
  box-shadow: 0px 1px 0px 0px #ededed;
  /*                  @include border-radius(21px, 21px);*/
  /*                  border: 1px solid #787878;*/
  /*                  border: 1px solid #C0C0C0;*/
}
/* line 84, ../scss/partials/views/_project_container.scss */
.project_list .view .projects .project .item .commands .command:hover span {
  /*                    border-top: 1px solid #EDEDED;*/
}
/* line 90, ../scss/partials/views/_project_container.scss */
.project_list .view .projects .project .item .commands .command:active {
  background-color: #C0C0C0;
  -moz-box-shadow: inset 0px 0px 6px 3px #555555;
  -webkit-box-shadow: inset 0px 0px 6px 3px #555555;
  -o-box-shadow: inset 0px 0px 6px 3px #555555;
  box-shadow: inset 0px 0px 6px 3px #555555;
  /*                  background-color: #F3F3F3;*/
  /*                  @include border-radius(21px, 21px);*/
  /*                  border: 1px solid #787878;*/
  /*                  border: 1px solid #B0B0B0;*/
  /*                  @include box-shadow(#EDEDED, 0px, 1px, 0px, 0px, false);*/
}
/* line 99, ../scss/partials/views/_project_container.scss */
.project_list .view .projects .project .item .commands .command:active span {
  /*                    border-top: 1px solid transparent;*/
  /*                    @include border-radius(21px, 21px);*/
}
/* line 105, ../scss/partials/views/_project_container.scss */
.project_list .view .projects .project .item .commands .command.disabled {
  border: 1px solid transparent;
  background-color: transparent;
  cursor: default;
  -moz-box-shadow: 0px 0px 0px 0px white;
  -webkit-box-shadow: 0px 0px 0px 0px white;
  -o-box-shadow: 0px 0px 0px 0px white;
  box-shadow: 0px 0px 0px 0px white;
}
/* line 111, ../scss/partials/views/_project_container.scss */
.project_list .view .projects .project .item .commands .command.disabled span {
  /*                    border-top: 1px solid transparent;*/
}
/* line 116, ../scss/partials/views/_project_container.scss */
.project_list .view .projects .project .item .commands .command.play {
  /*                  @include replace-text('../images/play.png');*/
  background-position: 13px center;
  background-repeat: no-repeat;
}
/* line 122, ../scss/partials/views/_project_container.scss */
.project_list .view .projects .project .item .commands .command.stop {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  background-image: url('../images/../images/stop.png?1298482402');
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
/* line 175, ../scss/partials/views/_project_container.scss */
.project_list .view .projects .project.selected, .project_list .view .projects .project.selected:hover {
  background-color: #3875D7;
  border-top: 1px solid #3F89FF;
}
/* line 183, ../scss/partials/views/_project_container.scss */
.project_list .view .projects .project.selected .item .source h2 a, .project_list .view .projects .project.selected:hover .item .source h2 a {
  color: #FFFFFF;
}
/* line 192, ../scss/partials/views/_project_container.scss */
.project_list .view .projects .project.focused, .project_list .view .projects .project:hover {
  border-top: 1px solid #EEEEEE;
  background-color: #D4D4D4;
  -moz-transition-property: background-color;
  -webkit-transition-property: background-color;
  -o-transition-property: background-color;
  transition-property: background-color;
  -moz-transition-duration: 0.15s;
  -webkit-transition-duration: 0.15s;
  -o-transition-duration: 0.15s;
  transition-duration: 0.15s;
  -moz-transition-timing-function: ease-in;
  -webkit-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
  -moz-transition-delay: 0s;
  -webkit-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
  cursor: pointer;
}
/* line 202, ../scss/partials/views/_project_container.scss */
.project_list .view .projects .project.focused .item .source h2 a, .project_list .view .projects .project:hover .item .source h2 a {
  color: #222222;
}

/* line 1, ../scss/partials/views/_project_details.scss */
.project_details {
  /*uncomment  display: none;*/
}
/* line 4, ../scss/partials/views/_project_details.scss */
.project_details .view {
  left: 1px;
  border-top: 1px solid #FFFFFF;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(80%, #fafafa), color-stop(100%, #e6e6e6));
  background-image: -moz-linear-gradient(top, #fafafa 80%, #e6e6e6);
  background-image: linear-gradient(top, #fafafa 80%, #e6e6e6);
}
/* line 9, ../scss/partials/views/_project_details.scss */
.project_details .view .modes {
  padding: 5px 10px 5px 0;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e9e9e9), color-stop(100%, #cfcfcf));
  background-image: -moz-linear-gradient(top, #e9e9e9, #cfcfcf);
  background-image: linear-gradient(top, #e9e9e9, #cfcfcf);
  border-bottom: 1px solid #8E8E8E;
  *zoom: 1;
}
/* line 22, ../../../.rvm/gems/ruby-1.8.7-p330/gems/compass-0.11.beta.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.project_details .view .modes:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}
/* line 15, ../scss/partials/views/_project_details.scss */
.project_details .view .modes .mode {
  display: inline;
  float: right;
  margin-left: 2px;
  padding: 4px 10px 5px;
  line-height: .8;
  color: #000000;
  text-shadow: #efefef 0 1px 0;
}
/* line 24, ../scss/partials/views/_project_details.scss */
.project_details .view .modes .mode:hover {
  color: #FFFFFF;
  text-shadow: #595959 0 1px 0;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #959595), color-stop(100%, #8e8e8e));
  background-image: -moz-linear-gradient(top, #959595, #8e8e8e);
  background-image: linear-gradient(top, #959595, #8e8e8e);
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
  text-decoration: none;
  -moz-box-shadow: inset 0px 0px 0px 0px #8f8f8f;
  -webkit-box-shadow: inset 0px 0px 0px 0px #8f8f8f;
  -o-box-shadow: inset 0px 0px 0px 0px #8f8f8f;
  box-shadow: inset 0px 0px 0px 0px #8f8f8f;
}
/* line 33, ../scss/partials/views/_project_details.scss */
.project_details .view .modes .mode:active {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #747474), color-stop(100%, #6e6e6e));
  background-image: -moz-linear-gradient(top, #747474, #6e6e6e);
  background-image: linear-gradient(top, #747474, #6e6e6e);
  border-bottom: 1px solid #E4E4E4;
  -moz-box-shadow: inset 0px 1px 1px 1px #484848;
  -webkit-box-shadow: inset 0px 1px 1px 1px #484848;
  -o-box-shadow: inset 0px 1px 1px 1px #484848;
  box-shadow: inset 0px 1px 1px 1px #484848;
}
/* line 41, ../scss/partials/views/_project_details.scss */
.project_details .view .option_container {
  min-width: 370px;
  margin: 0;
  padding: 25px 20px 0;
}
/* line 46, ../scss/partials/views/_project_details.scss */
.project_details .view .option_container h2 {
  position: relative;
  z-index: 1;
  width: 100px;
  margin: 0 auto;
  font-size: 12px;
  padding: 3px 0;
  background-color: #FFFFFF;
  border: 1px solid #737373;
  -webkit-border-radius: 6px 6px;
  -moz-border-radius: 6px / 6px;
  -o-border-radius: 6px / 6px;
  -ms-border-radius: 6px / 6px;
  -khtml-border-radius: 6px / 6px;
  border-radius: 6px / 6px;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #cfdff0), color-stop(33%, #96bfea), color-stop(46%, #4a91e3), color-stop(64%, #579be7), color-stop(82%, #84b4e6), color-stop(100%, #c3fbff));
  background-image: -moz-linear-gradient(top, #cfdff0, #96bfea 33%, #4a91e3 46%, #579be7, #84b4e6, #c3fbff);
  background-image: linear-gradient(top, #cfdff0, #96bfea 33%, #4a91e3 46%, #579be7, #84b4e6, #c3fbff);
  -moz-box-shadow: 0px 1px 1px 0px #9c9c9c;
  -webkit-box-shadow: 0px 1px 1px 0px #9c9c9c;
  -o-box-shadow: 0px 1px 1px 0px #9c9c9c;
  box-shadow: 0px 1px 1px 0px #9c9c9c;
  text-align: center;
}
/* line 61, ../scss/partials/views/_project_details.scss */
.project_details .view .option_container .options {
  margin-top: -12px;
  padding: 52px 25px 48px;
  background-color: #F8F8F8;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: inset 0px 1px 2px 1px #bababa;
  -webkit-box-shadow: inset 0px 1px 2px 1px #bababa;
  -o-box-shadow: inset 0px 1px 2px 1px #bababa;
  box-shadow: inset 0px 1px 2px 1px #bababa;
}
/* line 68, ../scss/partials/views/_project_details.scss */
.project_details .view .option_container .options .option {
  width: 370px;
  *zoom: 1;
  margin-bottom: 12px;
}
/* line 22, ../../../.rvm/gems/ruby-1.8.7-p330/gems/compass-0.11.beta.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.project_details .view .option_container .options .option:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}
/* line 73, ../scss/partials/views/_project_details.scss */
.project_details .view .option_container .options .option label {
  display: inline;
  float: left;
  width: 110px;
  padding-top: 6px;
  margin-right: 5px;
  text-align: right;
  font-weight: bold;
}
/* line 82, ../scss/partials/views/_project_details.scss */
.project_details .view .option_container .options .option .setting {
  display: inline;
  float: left;
  width: 160px;
  margin-right: 5px;
  font-size: 13px;
}
/* line 89, ../scss/partials/views/_project_details.scss */
.project_details .view .option_container .options .option .dir_find {
  margin-top: 2px;
  color: #0A0A0A;
  font-size: 11px;
  -webkit-border-top-left-radius: 6px;
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 6px;
}
/* line 103, ../scss/partials/views/_project_details.scss */
.project_details .footer {
  left: 1px;
}

/* line 1, ../scss/partials/views/_project_non_selected.scss */
.non_selected {
  position: absolute;
  top: 70px;
  right: 0;
  bottom: 0;
  left: 40%;
}
/* line 8, ../scss/partials/views/_project_non_selected.scss */
.non_selected .view {
  left: 1px;
  border-top: 1px solid #FFFFFF;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(80%, #fbfbfb), color-stop(100%, #e6e6e6));
  background-image: -moz-linear-gradient(top, #fbfbfb 80%, #e6e6e6);
  background-image: linear-gradient(top, #fbfbfb 80%, #e6e6e6);
  background-color: #EFF4F9;
}

/*mode styles*/
/* line 4, ../scss/partials/views/modes/_log_output.scss */
.project_details .view .log_output {
  position: absolute;
  top: 30px;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  font-family: monospace;
  color: #F8F8F8;
  background-color: #141414;
}
/* line 17, ../scss/partials/views/modes/_log_output.scss */
.project_details .view .log_output span.red {
  color: red;
}
/* line 21, ../scss/partials/views/modes/_log_output.scss */
.project_details .view .log_output span.green {
  color: green;
}
/* line 25, ../scss/partials/views/modes/_log_output.scss */
.project_details .view .log_output span.yellow {
  color: orange;
}

/*events styles*/
/* line 4, ../scss/partials/events/_drag_drop_add_files.scss */
#list .projects_container.hover .addhere {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  height: 100%;
  width: 100%;
  background-image: url("../images/drop_area_plate.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-color: #8A8A8A;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
}

/* line 3, ../scss/partials/events/_project_states.scss */
.project.stopped .play {
  display: block;
}
/* line 6, ../scss/partials/events/_project_states.scss */
.project.stopped .stop {
  display: none;
}
/* line 12, ../scss/partials/events/_project_states.scss */
.project.playing .play {
  display: none;
}
/* line 15, ../scss/partials/events/_project_states.scss */
.project.playing .stop {
  display: block;
}

/* line 4, ../scss/partials/events/_detail_modes.scss */
.project_details.configure .modes .mode.configure {
  color: #FFFFFF;
  text-shadow: #595959 0 1px 0;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #959595), color-stop(100%, #8e8e8e));
  background-image: -moz-linear-gradient(top, #959595, #8e8e8e);
  background-image: linear-gradient(top, #959595, #8e8e8e);
  border-bottom: 1px solid #E0E0E0;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
  -moz-box-shadow: inset 0px 1px 1px 1px #616161;
  -webkit-box-shadow: inset 0px 1px 1px 1px #616161;
  -o-box-shadow: inset 0px 1px 1px 1px #616161;
  box-shadow: inset 0px 1px 1px 1px #616161;
}
/* line 14, ../scss/partials/events/_detail_modes.scss */
.project_details.configure .options {
  display: block;
}
/* line 18, ../scss/partials/events/_detail_modes.scss */
.project_details.configure .log_output {
  display: none;
}
/* line 25, ../scss/partials/events/_detail_modes.scss */
.project_details.log .modes .mode.log {
  color: #fff;
  text-shadow: #595959 0 1px 0;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #959595), color-stop(100%, #8e8e8e));
  background-image: -moz-linear-gradient(top, #959595, #8e8e8e);
  background-image: linear-gradient(top, #959595, #8e8e8e);
  border-bottom: 1px solid #E0E0E0;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
  -moz-box-shadow: inset 0px 1px 1px 1px #616161;
  -webkit-box-shadow: inset 0px 1px 1px 1px #616161;
  -o-box-shadow: inset 0px 1px 1px 1px #616161;
  box-shadow: inset 0px 1px 1px 1px #616161;
}
/* line 35, ../scss/partials/events/_detail_modes.scss */
.project_details.log .options {
  display: none;
}
/* line 39, ../scss/partials/events/_detail_modes.scss */
.project_details.log .log_output {
  display: block;
}
