/*Colors:
    • strong red           - FB292D
    • em gold               - DADBB1
    • h4 white              - FFFFFF


    • darkest shadow - 171717
    • a blue                  - 84BCDE

    • bg gray                - ECECEC
    • bg box                 - E2E2E2
    • border gray         - BBBBBB
    • h4 dark                 - 222222
    • p dark                   - 111111 (with white text shadow)
*/

/*html, body {
  height: 100%;
}
*/
body {

  margin: 0;
  padding: 0;
  background-color: #ECECEC;

  p,
  a {
    font-family: Arial, sans-serif;
    font-weight: 400;
  }

  a {
    @include link-colors(#5A5A5A, #171717, #BBBBBB, #5A5A5A);
    @include hover-link;
  }

  h1,
  h2,
  h3 {
    font-family: Helvetica, Arial, sans-serif;
  }

  h1 {
    font-size: 24px;
  }
  h2 {
    font-size: 18px;
  }

  .header {
/*      padding: 9px 10px;*/
    border-top: 1px solid #393737;
/*      @include linear-gradient(color-stops(#696767, #453F3F, #4a4242));*/

    h1 {
      margin: 0;
      padding: 9px 0;
      @include replace-text("/images/logo-compass-small-dark.png");
      background-position: left center;
    }
  }

  .view {

    .content {
      border-top: 1px solid #FFFFFF;

      h2 {
        a {
          text-decoration: none;
        }
      }
    }
  }

  .footer {
  }
}