.project_details {
  .modes {
    .mode.log {
      span {
        background: red;
      }
    }

    .configure_view {

      .options{
        display: block;
      }
      .log_output {
        display: none;
      }
    }

    .log_view {

      .options{
        display: none;
      }
      .log_output {
        display: block;
      }
    }
  }
}