.project_details {
  &.configure {
    .options{
      display: block;
    }
    
    .log_output {
      display: none;
    }
  }

  &.log {
    .options {
      display: none;
    }
    
    .log_output {
      display: block;
    }
  }
  
  .modes {
    .mode {
      span {
        background: red;
      }
    }
  }
  

}