.project {
  &.stopped {
    .start {
      display: block;
    }
    .stop {
      display: none;
    }
  }

  &.started {
    .start {
      display: none;
    }
    .stop {
      display: block;
    }
  }
  
  &.starting, &.stopping {
    .start, .stop {
      display: none;
    }
  }
}