$footer_height: 18px;
$border_color: #939393;

body {
  overflow: hidden;
  
  #main {
    position: absolute;
    top: 70px;
    bottom: 0;
    right: 0;
    left: 40%;
    margin-left: 1px;
  }

  .project_list {
    position: absolute;
    top: 70px;
    bottom: 0;
    right: 60%;
    left: 0;
    border-right: 1px solid $border_color;

    .view {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 19px;
      left: 0;
      overflow-y: auto;
    }
  }

  .project_details {    
    .view {
      position: absolute;
      top: 0;
      bottom: 19px;
      right: 0;
      left: 0;
      @include pie-clearfix;
    }
  }

  .footer {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    border-top: 1px solid #939393;
    height: $footer_height;
    @include pie-clearfix;
    @include background-image(linear-gradient(#f7f7f7 0, #f3f3f3 50%, #e6e6e6 50%, #e6e6e6 100%));

    .option {
      @include float-left;
      width: 29px;
      text-decoration: none;
      text-align: center;
      text-shadow: 0 1px 1px #F6F6F6;
      background-repeat: repeat-x;
      background-position: center bottom;
      border-right: 1px solid #B3B3B3;

      span {
        display: block;
        height: $footer_height;
      }

      &:hover {
        background-color: #F3F3F3;
      }

      &:active {
        background-color: #C0C0C0;
      }

      &.add {
        span {
          @include replace-text('/images/add.png');
          border-right: 1px solid #F0F0F0;
          border-left: 1px solid #F0F0F0;
        }
      }
    }

    .splitter {
      @include float-right;
      width: 15px;
      height: 18px;
      @include replace-text('/images/handle_splitter.png');
      background-position: center center;
      cursor: ew-resize;
    }

    #new-project {
      margin-top: 2em;
    }
  }
}

