/* line 8, ../../../scout-app/Testing/TJW_Boila testery do!/_meyer.sass */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  border: 0px;
  margin: 0px;
  padding: 0px;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* line 28, ../../../scout-app/Testing/TJW_Boila testery do!/_meyer.sass */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

/* line 32, ../../../scout-app/Testing/TJW_Boila testery do!/_meyer.sass */
body {
  line-height: 1; }

/* line 35, ../../../scout-app/Testing/TJW_Boila testery do!/_meyer.sass */
ol, ul {
  list-style: none; }

/* line 38, ../../../scout-app/Testing/TJW_Boila testery do!/_meyer.sass */
blockquote, q {
  quotes: none; }

/* line 41, ../../../scout-app/Testing/TJW_Boila testery do!/_meyer.sass */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

/* line 46, ../../../scout-app/Testing/TJW_Boila testery do!/_meyer.sass */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/*!normalize.css v3.0.3|MIT License|necolas.github.io/normalize.css*/
/* line 10, ../../../scout-app/Testing/TJW_Boila testery do!/_normalize.sass */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

/* line 17, ../../../scout-app/Testing/TJW_Boila testery do!/_normalize.sass */
body {
  margin: 0; }

/* line 28, ../../../scout-app/Testing/TJW_Boila testery do!/_normalize.sass */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/* line 46, ../../../scout-app/Testing/TJW_Boila testery do!/_normalize.sass */
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline; }

/* line 56, ../../../scout-app/Testing/TJW_Boila testery do!/_normalize.sass */
audio:not([controls]) {
  display: none;
  height: 0; }

/* line 63, ../../../scout-app/Testing/TJW_Boila testery do!/_normalize.sass */
[hidden],
template {
  display: none; }

/* line 72, ../../../scout-app/Testing/TJW_Boila testery do!/_normalize.sass */
a {
  background-color: transparent; }
  /* line 74, ../../../scout-app/Testing/TJW_Boila testery do!/_normalize.sass */
  a:active, a:hover {
    outline: 0; }

/* line 86, ../../../scout-app/Testing/TJW_Boila testery do!/_normalize.sass */
abbr[title] {
  border-bottom: 1px dotted; }

/* line 91, ../../../scout-app/Testing/TJW_Boila testery do!/_normalize.sass */
b,
strong {
  font-weight: bold; }

/* line 97, ../../../scout-app/Testing/TJW_Boila testery do!/_normalize.sass */
dfn {
  font-style: italic; }

/* line 103, ../../../scout-app/Testing/TJW_Boila testery do!/_normalize.sass */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* line 109, ../../../scout-app/Testing/TJW_Boila testery do!/_normalize.sass */
mark {
  background: #ff0;
  color: #000; }

/* line 115, ../../../scout-app/Testing/TJW_Boila testery do!/_normalize.sass */
small {
  font-size: 80%; }

/* line 120, ../../../scout-app/Testing/TJW_Boila testery do!/_normalize.sass */
sub {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

/* line 126, ../../../scout-app/Testing/TJW_Boila testery do!/_normalize.sass */
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  top: -0.5em; }

/* line 133, ../../../scout-app/Testing/TJW_Boila testery do!/_normalize.sass */
sub {
  bottom: -0.25em; }

/* line 141, ../../../scout-app/Testing/TJW_Boila testery do!/_normalize.sass */
img {
  border: 0; }

/* line 146, ../../../scout-app/Testing/TJW_Boila testery do!/_normalize.sass */
svg:not(:root) {
  overflow: hidden; }

/* line 154, ../../../scout-app/Testing/TJW_Boila testery do!/_normalize.sass */
figure {
  margin: 1em 40px; }

/* line 159, ../../../scout-app/Testing/TJW_Boila testery do!/_normalize.sass */
hr {
  box-sizing: content-box;
  height: 0; }

/* line 165, ../../../scout-app/Testing/TJW_Boila testery do!/_normalize.sass */
pre {
  overflow: auto; }

/* line 170, ../../../scout-app/Testing/TJW_Boila testery do!/_normalize.sass */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* line 188, ../../../scout-app/Testing/TJW_Boila testery do!/_normalize.sass */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

/* line 199, ../../../scout-app/Testing/TJW_Boila testery do!/_normalize.sass */
button {
  overflow: visible;
  text-transform: none; }

/* line 208, ../../../scout-app/Testing/TJW_Boila testery do!/_normalize.sass */
select {
  text-transform: none; }

/* line 217, ../../../scout-app/Testing/TJW_Boila testery do!/_normalize.sass */
button,
html input[type="button"] {
  -webkit-appearance: button;
  cursor: pointer; }

/* line 225, ../../../scout-app/Testing/TJW_Boila testery do!/_normalize.sass */
input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

/* line 232, ../../../scout-app/Testing/TJW_Boila testery do!/_normalize.sass */
button[disabled],
html input[disabled] {
  cursor: default; }

/* line 238, ../../../scout-app/Testing/TJW_Boila testery do!/_normalize.sass */
button::-moz-focus-inner {
  border: 0;
  padding: 0; }

/* line 242, ../../../scout-app/Testing/TJW_Boila testery do!/_normalize.sass */
input {
  line-height: normal; }
  /* line 243, ../../../scout-app/Testing/TJW_Boila testery do!/_normalize.sass */
  input::-moz-focus-inner {
    border: 0;
    padding: 0; }
  /* line 247, ../../../scout-app/Testing/TJW_Boila testery do!/_normalize.sass */
  input[type="checkbox"], input[type="radio"] {
    box-sizing: border-box;
    padding: 0; }
  /* line 252, ../../../scout-app/Testing/TJW_Boila testery do!/_normalize.sass */
  input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
    height: auto; }
  /* line 255, ../../../scout-app/Testing/TJW_Boila testery do!/_normalize.sass */
  input[type="search"] {
    -webkit-appearance: textfield;
    box-sizing: content-box; }
    /* line 258, ../../../scout-app/Testing/TJW_Boila testery do!/_normalize.sass */
    input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
      -webkit-appearance: none; }

/* line 284, ../../../scout-app/Testing/TJW_Boila testery do!/_normalize.sass */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/* line 292, ../../../scout-app/Testing/TJW_Boila testery do!/_normalize.sass */
legend {
  border: 0;
  padding: 0; }

/* line 300, ../../../scout-app/Testing/TJW_Boila testery do!/_normalize.sass */
textarea {
  overflow: auto; }

/* line 306, ../../../scout-app/Testing/TJW_Boila testery do!/_normalize.sass */
optgroup {
  font-weight: bold; }

/* line 314, ../../../scout-app/Testing/TJW_Boila testery do!/_normalize.sass */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 318, ../../../scout-app/Testing/TJW_Boila testery do!/_normalize.sass */
td,
th {
  padding: 0; }

/* line 4, ../../../scout-app/Testing/TJW_Boila testery do!/_main.sass */
*,
*:before,
*:after {
  box-sizing: border-box; }

/* line 9, ../../../scout-app/Testing/TJW_Boila testery do!/_main.sass */
html {
  border: 0px;
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%; }

/* line 14, ../../../scout-app/Testing/TJW_Boila testery do!/_main.sass */
body {
  border: 0px;
  margin: 0px;
  padding: 0px;
  width: 100%;
  background-color: #348;
  background-position: 0px 0px;
  background-repeat: repeat; }

/* line 21, ../../../scout-app/Testing/TJW_Boila testery do!/_main.sass */
.floatright {
  float: right; }

/* line 23, ../../../scout-app/Testing/TJW_Boila testery do!/_main.sass */
.floatleft {
  float: left; }

/* line 26, ../../../scout-app/Testing/TJW_Boila testery do!/_main.sass */
.italic,
.italics {
  font-style: italic; }

/* line 30, ../../../scout-app/Testing/TJW_Boila testery do!/_main.sass */
.gray,
.grey,
a.gray,
a.grey {
  color: #999 !important; }

/* line 36, ../../../scout-app/Testing/TJW_Boila testery do!/_main.sass */
a:hover.gray,
a:hover.grey {
  color: #777 !important; }

/* line 40, ../../../scout-app/Testing/TJW_Boila testery do!/_main.sass */
img {
  -ms-interpolation-mode: bicubic; }

/* line 43, ../../../scout-app/Testing/TJW_Boila testery do!/_main.sass */
a:link,
a:visited {
  color: #F06F61; }

/* line 47, ../../../scout-app/Testing/TJW_Boila testery do!/_main.sass */
h1:first-child {
  margin-top: 20px; }

/* line 50, ../../../scout-app/Testing/TJW_Boila testery do!/_main.sass */
h1,
h2,
h3 {
  margin: 90px 95px 10px 95px;
  font-family: "Trebuchet MS", arial, sans-serif;
  font-variant: small-caps;
  font-weight: bold;
  color: #333;
  letter-spacing: 1px;
  clear: both; }

/* line 61, ../../../scout-app/Testing/TJW_Boila testery do!/_main.sass */
h2 {
  margin: 0px;
  font-variant: normal; }

/* line 65, ../../../scout-app/Testing/TJW_Boila testery do!/_main.sass */
h3 {
  font-size: 26px; }

/* line 68, ../../../scout-app/Testing/TJW_Boila testery do!/_main.sass */
#Wrapper {
  max-width: 1403px;
  margin: 0 auto;
  background-color: #FFF; }

/* line 74, ../../../scout-app/Testing/TJW_Boila testery do!/_main.sass */
#MainContent p,
#MainContent table,
#MainContent ol,
#MainContent ul {
  margin-left: 95px;
  margin-right: 95px;
  font-family: "Trebuchet MS", arial, sans-serif;
  color: #333;
  line-height: 1.35em; }

/* line 3, ../../../scout-app/Testing/TJW_Boila testery do!/_header.sass */
#Header {
  background-color: #E4D9CE;
  border-width: 0px 0px 1px 0px;
  border-color: #AAA;
  border-style: solid; }
  /* line 8, ../../../scout-app/Testing/TJW_Boila testery do!/_header.sass */
  #Header .logo {
    display: inline-block;
    height: 144px;
    margin: 3px 0px 0px 4px;
    position: relative;
    top: 18px; }

/* line 15, ../../../scout-app/Testing/TJW_Boila testery do!/_header.sass */
#MainNav {
  text-align: right;
  margin: 0px 20px 0px 0px;
  position: relative;
  top: 1px;
  font-size: 0px; }
  /* line 21, ../../../scout-app/Testing/TJW_Boila testery do!/_header.sass */
  #MainNav li {
    display: inline-block; }
    /* line 24, ../../../scout-app/Testing/TJW_Boila testery do!/_header.sass */
    #MainNav li.selected a,
    #MainNav li.selected a:hover {
      border-bottom-color: #FFF;
      padding-top: 11px;
      background-color: #F3F1EE;
      background: linear-gradient(to bottom, white 0%, rgba(255, 255, 255, 0) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#00ffffff',GradientType=0 ); }
    /* line 31, ../../../scout-app/Testing/TJW_Boila testery do!/_header.sass */
    #MainNav li a {
      display: inline-block;
      background: #F0ECE8;
      padding: 9px 11px 8px 10px;
      margin: 0px 4px 0px 0px;
      box-shadow: inset 0px 0px 1px 1px #F6F6F6;
      color: #333;
      text-decoration: none;
      border-color: #BBB;
      border-style: solid;
      border-width: 1px;
      border-radius: 3px 3px 0px 0px;
      font-width: bold;
      font-size: 12px;
      font-family: "helvetica neue", helvetica, arial, sans-serif;
      text-align: center;
      text-shadow: 0px 1px 0px #FFF; }
      /* line 51, ../../../scout-app/Testing/TJW_Boila testery do!/_header.sass */
      #MainNav li a:hover {
        background: #F5F5F5;
        box-shadow: inset 0px 0px 1px 1px #EAEAEA;
        color: #222;
        cursor: pointer; }
      /* line 56, ../../../scout-app/Testing/TJW_Boila testery do!/_header.sass */
      #MainNav li a:active {
        background: #D0D0D0;
        box-shadow: inset 0px 0px 1px 1px #E3E3E3;
        color: #000; }

/* line 61, ../../../scout-app/Testing/TJW_Boila testery do!/_header.sass */
.breadcrumbs {
  height: 2.3em;
  border-width: 0px 0px 1px 0px;
  border-style: solid;
  border-color: #DEDEDE;
  list-style-type: none;
  padding: 0px;
  margin: 0px !important; }
  /* line 69, ../../../scout-app/Testing/TJW_Boila testery do!/_header.sass */
  .breadcrumbs li {
    float: left;
    line-height: 2.3em;
    color: #777;
    list-style-type: none;
    padding: 0em 0em 0em .75em;
    margin: 0px; }
    /* line 76, ../../../scout-app/Testing/TJW_Boila testery do!/_header.sass */
    .breadcrumbs li a {
      background: url("../_img/crumbs.png") no-repeat right center;
      display: block;
      padding: 0px 15px 0px 0px; }
      /* line 80, ../../../scout-app/Testing/TJW_Boila testery do!/_header.sass */
      .breadcrumbs li a:link, .breadcrumbs li a:visited {
        color: #777;
        text-decoration: none; }
      /* line 84, ../../../scout-app/Testing/TJW_Boila testery do!/_header.sass */
      .breadcrumbs li a:hover, .breadcrumbs li a:focus {
        color: #F06F61; }

/* line 4, ../../../scout-app/Testing/TJW_Boila testery do!/_footer.sass */
footer {
  min-height: 150px;
  padding: 10px;
  background-color: #E4D9CE;
  margin: 50px 0px 0px 0px; }
  /* line 9, ../../../scout-app/Testing/TJW_Boila testery do!/_footer.sass */
  footer p {
    line-height: 1.45em; }
  /* line 11, ../../../scout-app/Testing/TJW_Boila testery do!/_footer.sass */
  footer .legal {
    font-size: 0.8em; }

/* line 4, ../../../scout-app/Testing/TJW_Boila testery do!/_flyingfocus.sass */
#flying-focus {
  position: absolute;
  border-radius: 2px;
  margin: 0px;
  background: transparent;
  transition-property: left, top, width, height, opacity;
  transition-timing-function: cubic-bezier(0, 0.2, 0, 1);
  box-shadow: 0px 0px 2px 3px #78AEDA, 0px 0px 2px #78AEDA inset;
  pointer-events: none;
  visibility: hidden; }

/* line 15, ../../../scout-app/Testing/TJW_Boila testery do!/_flyingfocus.sass */
#flying-focus.flying-focus_visible {
  visibility: visible;
  z-index: 9999; }

/* line 19, ../../../scout-app/Testing/TJW_Boila testery do!/_flyingfocus.sass */
.flying-focus_target {
  outline: none !important; }

/* line 22, ../../../scout-app/Testing/TJW_Boila testery do!/_flyingfocus.sass */
.flying-focus_target::-moz-focus-inner {
  border: 0px !important; }

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  /* line 26, ../../../scout-app/Testing/TJW_Boila testery do!/_flyingfocus.sass */
  #flying-focus {
    box-shadow: none;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -3px; } }

@media screen and (max-width: 1429px) {
  /* line 6, ../../../scout-app/Testing/TJW_Boila testery do!/_mediaqueries.sass */
  #Wrapper {
    max-width: 900px; }
  /* line 8, ../../../scout-app/Testing/TJW_Boila testery do!/_mediaqueries.sass */
  h1,
  h3,
  #MainContent p,
  #MainContent table,
  #MainContent ol,
  #MainContent ul {
    margin-right: 68px;
    margin-left: 68px; } }

@media screen and (max-width: 960px) {
  /* line 19, ../../../scout-app/Testing/TJW_Boila testery do!/_mediaqueries.sass */
  #Wrapper {
    max-width: 700px; }
  /* line 21, ../../../scout-app/Testing/TJW_Boila testery do!/_mediaqueries.sass */
  h1,
  h3,
  #MainContent p,
  #MainContent table,
  #MainContent ol,
  #MainContent ul {
    margin-right: 57px;
    margin-left: 57px; } }

@media screen and (max-width: 709px) {
  /* line 32, ../../../scout-app/Testing/TJW_Boila testery do!/_mediaqueries.sass */
  #Wrapper {
    max-width: 500px; }
  /* line 34, ../../../scout-app/Testing/TJW_Boila testery do!/_mediaqueries.sass */
  #Header {
    height: auto; }
  /* line 36, ../../../scout-app/Testing/TJW_Boila testery do!/_mediaqueries.sass */
  .logo {
    margin: 0px 0px 0px 150px; }
  /* line 38, ../../../scout-app/Testing/TJW_Boila testery do!/_mediaqueries.sass */
  #MainNav {
    display: block;
    float: none;
    clear: both; }
    /* line 42, ../../../scout-app/Testing/TJW_Boila testery do!/_mediaqueries.sass */
    #MainNav li a {
      border-radius: 0px; }
  /* line 44, ../../../scout-app/Testing/TJW_Boila testery do!/_mediaqueries.sass */
  h1,
  h3,
  #MainContent p,
  #MainContent table,
  #MainContent ol,
  #MainContent ul {
    margin-right: 46px;
    margin-left: 46px; } }

@media screen and (max-width: 518px) {
  /* line 55, ../../../scout-app/Testing/TJW_Boila testery do!/_mediaqueries.sass */
  #Wrapper {
    max-width: 320px; }
  /* line 57, ../../../scout-app/Testing/TJW_Boila testery do!/_mediaqueries.sass */
  #Header .logo {
    display: block;
    margin: 0px auto 25px auto;
    top: 12px; }
  /* line 61, ../../../scout-app/Testing/TJW_Boila testery do!/_mediaqueries.sass */
  #Footer {
    height: 115px; }
  /* line 63, ../../../scout-app/Testing/TJW_Boila testery do!/_mediaqueries.sass */
  #MainNav {
    width: 100%;
    margin: 0px;
    padding: 0px; }
    /* line 68, ../../../scout-app/Testing/TJW_Boila testery do!/_mediaqueries.sass */
    #MainNav li.selected a,
    #MainNav li.selected a:hover {
      margin: 0px 0px 0px 0px;
      padding: 20px 0px; }
    /* line 72, ../../../scout-app/Testing/TJW_Boila testery do!/_mediaqueries.sass */
    #MainNav li a {
      width: 160px;
      margin: 0px;
      padding: 20px 0px;
      text-align: center; }
  /* line 77, ../../../scout-app/Testing/TJW_Boila testery do!/_mediaqueries.sass */
  h1,
  h3,
  #MainContent p,
  #MainContent table,
  #MainContent ol,
  #MainContent ul {
    margin-right: 35px;
    margin-left: 35px; } }

@media screen and (max-width: 336px) {
  /* line 88, ../../../scout-app/Testing/TJW_Boila testery do!/_mediaqueries.sass */
  #Wrapper {
    max-width: 240px; }
  /* line 90, ../../../scout-app/Testing/TJW_Boila testery do!/_mediaqueries.sass */
  #Footer {
    height: 130px; }
  /* line 92, ../../../scout-app/Testing/TJW_Boila testery do!/_mediaqueries.sass */
  #Footer .legal {
    line-height: 1.2em; }
  /* line 94, ../../../scout-app/Testing/TJW_Boila testery do!/_mediaqueries.sass */
  h1,
  h3,
  #MainContent p,
  #MainContent table,
  #MainContent ol,
  #MainContent ul {
    margin-right: 20px;
    margin-left: 20px; }
  /* line 102, ../../../scout-app/Testing/TJW_Boila testery do!/_mediaqueries.sass */
  #MainContent table {
    margin: 20px 0px 20px 0px; }
  /* line 105, ../../../scout-app/Testing/TJW_Boila testery do!/_mediaqueries.sass */
  #MainNav li.selected a,
  #MainNav li a:hover {
    margin: 0px; }
  /* line 108, ../../../scout-app/Testing/TJW_Boila testery do!/_mediaqueries.sass */
  #MainNav li a {
    margin: 0px;
    width: 240px; }
  /* line 111, ../../../scout-app/Testing/TJW_Boila testery do!/_mediaqueries.sass */
  .breadcrumbs {
    border: 0px;
    margin: 0px;
    padding: 0px;
    width: 100%; }
    /* line 114, ../../../scout-app/Testing/TJW_Boila testery do!/_mediaqueries.sass */
    .breadcrumbs li {
      padding: 0px; }
    /* line 116, ../../../scout-app/Testing/TJW_Boila testery do!/_mediaqueries.sass */
    .breadcrumbs li a {
      font-size: 0.75em;
      padding: 0px 5px 0px 5px;
      border-style: solid;
      border-color: #DEDEDE;
      border-width: 0px 1px 1px 0px;
      background-image: none; } }

/*# sourceMappingURL=style.css.map */