@import "modes/modes";

.project_details {
  display: none;

  .view {
    border-top: 1px solid #FFFFFF;
    @include linear-gradient(color-stops(#FAFAFA 80%, #E6E6E6));
  }

  .footer {
    left: 1px;
  }
}