@import "modes/modes";

.project_details {
  display: none;

  &.selected {
    display: block;
  }

  .view {
    border-top: 1px solid #FFFFFF;
    @include background-image(linear-gradient(#FAFAFA 80%, #E6E6E6));
  }
}