%script{:src => "js/vendor/AIRAliases.js", :type => "text/javascript"}
%script{:src => "js/vendor/AIRIntrospector.js", :type => "text/javascript"}
%script{:src => "js/vendor/jquery-1.5.min.js", :type => "text/javascript"}
%script{:src => "js/vendor/jquery.tmpl.min.js", :type => "text/javascript"}
%script{:src => "js/vendor/adaptors/LawnchairAdaptorHelpers.js", :type => "text/javascript"}

%script{:src => "js/vendor/adaptors/AIRSqliteAdaptor.js", :type => "text/javascript"}
:javascript
  var ENV='test';

%script{:src => "js/vendor/Lawnchair.js", :type => "text/javascript"}
%script{:src => "js/app/application.js", :type => "text/javascript"}
%script{:src => "js/app/process_interaction.js", :type => "text/javascript"}
%script{:src => "jasminebdd/lib/jasmine-1.0.1/jasmine.js", :type => "text/javascript"}
%script{:src => "jasminebdd/lib/jasmine-1.0.1/jasmine-html.js", :type => "text/javascript"}
%script{:src => "jasminebdd/spec/SpecHelper.js", :type => "text/javascript"}
%script{:src => "jasminebdd/spec/Support.js", :type => "text/javascript"}
%script{:src => "jasminebdd/spec/ScoutAppSpec.js", :type => "text/javascript"}
:javascript
  $(function(){
    var test_runner_window = window.open("/test_runner.html", "logWindow", "height=600, width=400, top=10, left=10, scrollbars=1");
    setTimeout(function(){
      jasmine.getEnv().addReporter(new jasmine.TrivialReporter(test_runner_window.document));
      jasmine.getEnv().execute();
    }, 1000);
  });