!!!
%head
  %title CompassApp
  = stylesheets
  %link{:href => "stylesheets/screen.css", :rel => "stylesheet"}/
  %script{:src => "js/AIRAliases.js", :type => "text/javascript"}
  %script{:src => "js/AIRIntrospector.js", :type => "text/javascript"}
  %script{:src => "js/jquery-1.5.min.js", :type => "text/javascript"}
  %script{:src => "js/jquery.tmpl.min.js", :type => "text/javascript"}
  %script{:src => "js/adaptors/LawnchairAdaptorHelpers.js", :type => "text/javascript"}
  %script{:src => "js/adaptors/AIRSqliteAdaptor.js", :type => "text/javascript"}
  %script{:src => "js/Lawnchair.js", :type => "text/javascript"}
  %script{:src => "js/application.js", :type => "text/javascript"}
  %script{:src => "js/process_interaction.js", :type => "text/javascript"}
  %link{:href => "jasminebdd/lib/jasmine-1.0.1/jasmine.css", :rel => "stylesheet", :type => "text/css"}
  :css
    .jasmine_reporter {
      position: absolute;
      bottom: 0;
      width: 400px;
      z-index: 999999;
      left: 100px;
    }
  = yield
  %script#colorize_template{:type => "text/x-jquery-tmpl"}
    %div
      %span{:class => "${color}"} ${string}
  %script#project_template{:type => "text/x-jquery-tmpl"}
    %li.project.stopped{"data-key" => "${key}"}
      .item
        .source
          %h2
            %a{:href => "#"} ${name}
        .commands
          %button.start Start
          %button.stop Stop
  %script#project_details_template{:type => "text/x-jquery-tmpl"}
    .pane.project_details.configure{"data-key" => "${key}"}
      .view
        .modes
          %a.mode.log{:href => "#"} Log
          %a.mode.configure{:href => "#"} Configure
        .log_output
        .option_container
          %h2 Configuration
          .options
            .option.input
              %label{:for => "sass_input"} Input Folder:
              %button.dir_find.select_sass_dir
                %span Choose
              %input#sass_input.setting.sass_dir{:value => "${sassDir}"}/
            .option.output
              %label{:for => "css_input"} Output Folder:
              %button.dir_find.select_css_dir
                %span Choose
              %input#css_input.setting.css_dir{:value => "${cssDir}"}/
            .option.remove
              %label Remove Project:
              %button.delete
                %span Remove
      .footer
%body
  #header
    %h1 CompassApp
  .pane.project_list
    .view
      %ul.projects
        /
          Remove
          1. selected project removes from ul.projects -> previous="project_name"
          2. selected project passes to ul.projects -> append="project_name" with the name that has a corresponding project name
          3. The project with the same name gets highlighted
        %li.project.stopped.selected{"data-key" => "${key}"}
          .item
            .source
              %h2
                %a{:href => "#"} ${name}
            .commands
              %button.play Play
              %button.stop Stop
        %li.project.stopped{"data-key" => "${key}"}
          .item
            .source
              %h2
                %a{:href => "#"} ${name}
            .commands
              %button.play Play
              %button.stop Stop
        %li.project.stopped{"data-key" => "${key}"}
          .item
            .source
              %h2
                %a{:href => "#"} ${name}
            .commands
              %button.play Play
              %button.stop Stop
        / /Remove
      %button#nuke Remove All Projects
    .footer
      %a.option.add{:href => "#", :title => "Add a project"}
        %span +
      .splitter |||
  / remove
  .pane.project_details.configure{"data-key" => "${key}"}
    .view
      .modes
        %a.mode.log{:href => "#"} Log
        %a.mode.configure{:href => "#"} Configure
      .log_output
      .option_container
        %h2 Configuration
        .options
          .option.input
            %label{:for => "sass_input"} Input Folder:
            %button.dir_find.select_sass_dir
              %span Select
            %input#sass_input.setting.sass_dir{:value => "${sassDir}"}/
          .option.output
            %label{:for => "css_input"} Output Folder:
            %button.dir_find.select_css_dir
              %span Select
            %input#css_input.setting.css_dir{:value => "${cssDir}"}/
          .option.remove
            %label Remove Project:
            %button.delete
              %span Remove
    .footer
  / /remove
  /
    uncomment <div class="pane non_selected">
    <div class="view"></div>
    <div class="footer"></div>
    </div>