!!!
%html
  %head
    %title TestRunner
    %script{:src => "js/jquery-1.5.min.js", :type => "text/javascript"}
    %script{:src => "js/jquery.scrollto.min.js", :type => "text/javascript"}

    %link{:href => "jasminebdd/lib/jasmine-1.0.1/jasmine.css", :rel => "stylesheet", :type => "text/css"}
    :css
      .runner {
        position: fixed;
        top: 0;
        left: 0;
      }
      .passed,
      .skipped {
        display: block;
      }
    
  %body
    = yield